<section class="winner margin-section">
   <div class="winner__container">
      <div class="header-section">
         <h2 class="title-section">NETRACK - победитель премии «ЦОДы.РФ»</h2>
      </div>
      <div class="winner__body">
         <div class="winner__photo">
            <div class="winner__photo-item">
               <img src="@img/webp/winner-1.webp" alt="Алексей Рубаков">
            </div>
            <div class="winner__photo-item">
               <img src="@img/webp/winner-2.webp" alt="Алексей Рубако">
            </div>
         </div>
         <div class="winner__content">
            <div class="winner__diploma">
               <div class="winner__diploma-image">
                  <img src="@img/webp/winner-3.webp" alt="диплом">
               </div>
               <div class="winner__diploma-text">В 2020 году <b>NETRACK</b> получил важное отраслевое признание — национальную премию «ЦОДы.РФ» в номинации «Хостер года». Это событие стало подтверждением того, что наши сервисы соответствуют самым высоким требованиям рынка ИТ-инфраструктуры.</div>
            </div>

            <div class="winner__block">
               <div class="winner__block-title">Как это было:</div>
               <div class="winner__list">
                  <div class="winner__list-name">Дата:</div>
                  <div class="winner__list-value">13 марта 2020 года</div>
                  <div class="winner__list-name">Место:</div>
                  <div class="winner__list-value">Москва, торжественная церемония вручения премии «ЦОДы.РФ»</div>
                  <div class="winner__list-name">Номинация:</div>
                  <div class="winner__list-value">«Хостер года»</div>
                  <div class="winner__list-name">Основание награды:</div>
                  <div class="winner__list-value">открытое голосование профессионального сообщества — экспертов дата-центров, интеграторов, заказчиков и отраслевых СМИ.</div>
               </div>
               <p class="winner__text">NETRACK был признан самым полезным и современным провайдером сервисов, который демонстрирует реальную ценность для клиентов и активно внедряет инновации.</p>
            </div>

            <div class="winner__block">
               <div class="winner__block-title">Как это было:</div>
               <div class="winner__quote">
                  <p class="winner__quote-item">«Для нас это награда особенная — она отражает не только качество наших сервисов, но и доверие сообщества. <b>NETRACK</b> всегда был „хостером для хостеров“: мы строим инфраструктуру, которая помогает другим работать без простоев. Спасибо клиентам и партнёрам за признание!»</p>
                  <div class="winner__quote-author">
                     <p class="winner__quote-author-name">Алексей Рубаков</p>
                     <p class="winner__quote-author-post">основатель NETRACK</p>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
</section>