.contacts {

   &__container {}

   &__body {}

   &__grid {
      display: grid;
      grid-template-columns: 0.8fr 2fr;

      &:not(:last-child) {
         margin-bottom: 54px;
      }
   }

   &__grid-header {
      font-weight: 500;
      font-size: 30px;
      line-height: 140%;
   }

   &__grid-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 32px;
      column-gap: 20px;
      font-weight: 500;
      font-size: 24px;
      line-height: 140%;

      a {
         span {
            color: #6E48F5;
         }
      }
   }

   &__grid-tel {
      font-family: var(--font-family-second);
      font-weight: 800;
      margin-bottom: 5px;
      font-size: 50px;
      line-height: 100%;
      letter-spacing: -0.02em;
   }

   &__grid-title {
      font-weight: 400;
      font-size: 22px;
      line-height: 140%;
      color: #575757;

      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   &__grid-social-network {
      margin-bottom: 20px;
      display: flex;
      gap: 10%;
      font-weight: 500;
      font-size: 28px;
      line-height: 140%;

   }

   &__grid-social-network-link {
      display: flex;
      align-items: center;
      gap: 26px;
   }

   &__grid-address {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 30px;
      line-height: 140%;
   }

   &__grid-list-titles {
      font-size: 24px;
      line-height: 140%;
      color: #575757;

      li {
         margin-bottom: 0.44em;
      }
   }

   &__grid-list-text {
      font-weight: 500;
      font-size: 24px;
      line-height: 140%;

      li {
         margin-bottom: 0.44em;
      }
   }

   &__map {
      margin: 70px 0;
      position: relative;
      height: 650px;
      border-radius: 20px;
      overflow: hidden;
   }

   &__grid-footer {
      padding-top: 30px;
      border-top: 1px solid #B5B5B5;
   }

   &__download {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;
      font-size: 24px;
      line-height: 140%;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 2px;
   }

   &__message {
      margin-top: 50px;
      padding: 24px 30px;
      background-color: #F3F3F3;
      border-radius: 5px;
      font-size: 22px;
      line-height: 140%;
      color: #575757;
   }
}