@use '../../../scss/utils' as *;

.selection-list {
   --tabs-duration: 0s;
   --height-wrapper: 36px;
   display: inline-block;
   position: relative;
   width: 100%;

   @include size_adaptive (--height-wrapper, 36, 63, 1366, 2560);

   @media (min-width:2560px) {
      --height-wrapper: 63px;
   }

   ._pc &:hover {

      .configuration__border-inner,
      .configuration__border {
         border-color: #242424;
      }
   }

   button,
   a {
      text-align: left;
   }

   &.width-xs {
      flex: 0 0 48px;

      @include size_adaptive_flex (0, 0, 48, 100, 1366, 2560);

      @media (min-width:2560px) {
         flex: 0 0 100px;
      }
   }

   &.width-sm {
      flex: 0 0 85px;

      @include size_adaptive_flex (0, 0, 85, 141, 1366, 2560);

      @media (min-width:2560px) {
         flex: 0 0 141px;
      }
   }

   &.width-md {
      flex: 0 1 auto;

      @media (min-width:1366px) {
         flex: 0 1 433px;
      }
   }

   &.width-lg {
      flex: 0 1 auto;

      @media (min-width:1366px) {
         flex: 0 1 690px;
      }
   }


   &__border {
      border: 1px solid #B5B5B5;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: border-color $tr-time, border-radius var(--tabs-duration, $tr-time-l);

      .js-tabs-open & {
         border-bottom-right-radius: 0;
         border-bottom-left-radius: 0;
      }
   }

   &__wrapper {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 100%;
      min-height: var(--height-wrapper);
      width: 100%;
      background-color: #ffffff;
      transition: background-color $tr-time, color $tr-time;

      @media (min-width:1366px) {
         background-color: #F3F3F3;
      }

      @media (min-width:1920px) {
         gap: 10px;
         padding: 10px 15px;
      }

      @media (min-width:2560px) {
         padding: 16px 20px;
      }

      ._pc .configuration__border-inner &:hover {
         background-color: #6E48F5;
         color: #ffffff;

         .configuration__subtext-color,
         .configuration__subtext {
            color: #ffffff;
         }
      }
   }

   &__text-group {
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: -0.02em;
      @include size_adaptive (font-size, 12, 22, 1366, 2560);

      @media (min-width:2560px) {
         font-size: 22px;
      }
   }

   &__subtext {
      font-size: 0.81em;
      color: #575757;
      transition: color $tr-time;
   }

   &__subtext-color {
      color: #6E48F5;
   }

   &__shell {
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      width: 100%;
      transition: height var(--tabs-duration, $tr-time-l);

      .js-tabs-open & {
         pointer-events: all;
      }
   }

   &__border-inner {
      border: 1px solid #B5B5B5;
      border-top: none;
      border-radius: 0 0 5px 5px;
      overflow: hidden;
      max-height: calc(var(--height-wrapper) * 4.1);
      overflow-y: auto;
      transition: border-color $tr-time;

      @media (min-width:2560px) {
         max-height: 262px;
      }
   }

   &__arrow {
      --size: 18px;
      width: var(--size);
      min-width: var(--size);
      height: var(--size);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform var(--tabs-duration, $tr-time-l);
      @include size_adaptive (--size, 18, 24, 1366, 2560);

      @media (min-width:2560px) {
         --size: 24px;
      }

      svg {
         width: 9px;
         height: auto;
      }

      .js-tabs-open & {
         transform: rotate3d(1, 0, 0, 180deg);
      }
   }

   &__message {
      margin-top: 20px;
      display: inline-block;
      padding: 2px 12px;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      color: #ff383c;
      border-radius: 90px;
      background-color: #F3F3F3;
   }
}