<section class="initial padding-section">
   <div class="initial__container">
      <div class="initial__body">
         <div class="initial__content">
            <div class="initial__mask">
               <img class="initial__mask-size" src="@img/png/mask-natrack.png" alt="netrack">
               <img class="initial__mask-bg" src="@img/webp/image-9.webp" alt="netrack">
               <!-- <video class="initial__mask-bg" src="/path/vodeo.mp4" muted autoplay poster="@img/webp/image-9.webp"> -->
            </div>
            <div class="initial__title">
               ведущий оператор <span>комплексных</span> решений в ЦОД
            </div>
            <div class="initial__text">
               <p>Более 14 лет мы обеспечиваем бесперебойную работу ИТ проектов: от стартапов до крупнейших компаний России.</p>
               <p>Мы создаём технологическую среду, где данные защищены, серверы работают без перебоев, а рост не ограничен ресурсами.</p>
               <p>Наша цель проста: дать вам уверенность, что инфраструктура работает — всегда.</p>
            </div>
            <div class="initial__button">
               @@include('../../UI/Button/Button.html',{
               text: 'Связаться с нами',
               link: '#0',
               class: 'button-arrow-green'
               })
            </div>

         </div>
      </div>
   </div>
   <img class="initial__background" src="@img/webp/initial-1.webp" alt="сотрудник за работой" aria-hidden="true">
</section>