//  отступы по бокам контейнера 
$padding-mobile: 10px;
$padding-tablet: 20px;
$padding-desktop: 24px;
//  максимальный размер контента в контейнере 
$width-content: 2116px;
//  максимальный размер контейнера с отступами 
$max-width-container: $padding-desktop * 2 + $width-content;
//  transition time 
$tr-time: 0.2s;
$tr-time-l: 0.5s;
$bezier: cubic-bezier(.6, -0.01, .24, 1);