@use '../../../scss/utils' as *;

.gallery-accordion {
   position: relative;

   &__background {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
   }

   &__container {}

   &__title {
      color: #ffffff;
   }

   &__body {
      counter-reset: item;
      display: flex;
      gap: 10px;

   }

   &__item {
      cursor: pointer;
      padding: 20px;
      position: relative;
      height: 700px;
      flex: 0 0 140px;
      display: flex;
      align-items: flex-start;
      gap: 10px;
      border-radius: 10px;
      overflow: hidden;
      transition: flex $tr-time-l, width $tr-time-l;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #6E48F5;
         pointer-events: none;
         transition: opacity $tr-time-l;
      }

      &.active {
         cursor: auto;
         flex: 1 1 1%;

         &::before {
            opacity: 0;
         }

         .gallery-accordion__item-title {
            opacity: 0;
         }
      }
   }

   &__item-image {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__item-header {
      position: relative;
      z-index: 1;
      align-self: stretch;
      display: flex;
      flex-direction: column;
   }

   &__item-content {
      display: flex;
      align-items: flex-start;
      gap: inherit;
      flex-wrap: wrap;
   }

   &__item-number {
      counter-increment: item;
      padding: 16px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 62px;
      min-width: 100px;
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #B7FE56;
      background-color: #242424;
      border-radius: 5px;

      &:before {
         content: '/' counter(item, decimal-leading-zero) '.';
      }
   }

   &__item-title {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-size: 40px;
      line-height: 100%;
      letter-spacing: -0.01em;
      text-align: center;
      font-weight: 800;
      color: #ffffff;
      font-family: var(--font-family-second);
      transition: opacity $tr-time-l;
   }

   &__about {
      padding: 40px;
      background-color: #B7FE56;
      border-radius: 5px;
   }

   &__about-title {
      font-size: 55px;
      line-height: 100%;
      letter-spacing: -0.01em;
      font-weight: 800;
   }

   &__about-text {
      font-size: 22px;
      line-height: 140%;
      color: #575757;
   }

   &__address {
      padding: 20px;
      display: flex;
      gap: 10px;
      background-color: #ffffff;
      border-radius: 5px;
   }

   &__address-icon {

      img,
      svg {
         width: 24px;
         height: auto;
      }
   }

   &__address-data {
      font-size: 20px;
      line-height: 140%;
   }

   &__address-city {
      font-weight: 600;
   }
}