<section class="gallery-accordion padding-section">
   <div class="background-section">
      <picture>
         <source srcset="@img/webp/bg-3.webp" media="(min-width: 1024px)" type="image/webp">
         <img src="@img/webp/bg-4.webp" alt="фон" aria-hidden="true">
      </picture>
   </div>
   <div class="gallery-accordion__container">
      <div class="header-section">
         <div class="header-with-button">
            <div class="gallery-accordion__title title-section">Размещаем серверы <br>в надежных дата-центрах Москвы</div>
            <div>
               @@include('../../UI/Button/Button.html',{
               text:'Подробнее о дата-центрах',
               link:'#0',
               class:'button-arrow-purple'
               })
            </div>
         </div>
      </div>
      <div class="gallery-accordion__body">
         @@loop('./Gallery-Accordion-Item.html','json/lists/gallery-accordion.json')
      </div>
   </div>
</section>