.modal {
   padding: 10px;
   position: fixed;
   top: 0;
   left: 110%;
   z-index: 19;
   width: 100vw;
   min-height: 100vh;
   max-height: 100vh;
   background-color: #ffffff;
   // scrollbar-gutter: stable;
   overflow-y: auto;
   overflow-x: hidden;
   transition: left 0.5s;


   &__container {
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 100vh;
      display: flex;
      align-items: center;

      @media (max-width:767.98px) {
         padding: 0;
      }
   }


   &__body {
      padding: max(var(--padding-lg), 40px) var(--padding-lg);
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 1280px;
      background-color: var(--color-white);
      border: 1px solid #ACACAC;
      border-radius: 10px;
   }
}


.js-modal-hidden {
   left: 110%;

   &.js-modal-visible {
      left: 0;

   }
}

.body-overflow {
   overflow: hidden;
}