<div class="wide-slider margin-section">
   <div class="container">
      <div class="header-section">
         <div class="title-section">Фотоэкскурсия по дата-центру</div>
      </div>
   </div>
   <div class="wide-slider__swiper swiper">
      <div class="wide-slider__wrapper swiper-wrapper">
         <div class="wide-slider__slide swiper-slide">
            <div class="wide-slider__image">
               <img src="@img/webp/foto-1.webp" alt="фотография помещений с оборудованием">
            </div>
         </div>
         <div class="wide-slider__slide swiper-slide">
            <div class="wide-slider__image">
               <img src="@img/webp/foto-2.webp" alt="фотография помещений с оборудованием">
            </div>
         </div>
         <div class="wide-slider__slide swiper-slide">
            <div class="wide-slider__image">
               <img src="@img/webp/foto-3.webp" alt="фотография помещений с оборудованием">
            </div>
         </div>
         <div class="wide-slider__slide swiper-slide">
            <div class="wide-slider__image">
               <img src="@img/webp/foto-1.webp" alt="фотография помещений с оборудованием">
            </div>
         </div>
         <div class="wide-slider__slide swiper-slide">
            <div class="wide-slider__image">
               <img src="@img/webp/foto-2.webp" alt="фотография помещений с оборудованием">
            </div>
         </div>
         <div class="wide-slider__slide swiper-slide">
            <div class="wide-slider__image">
               <img src="@img/webp/foto-3.webp" alt="фотография помещений с оборудованием">
            </div>
         </div>
      </div>
      <button class="wide-slider__button-prev swiper-button" type="button" aria-label="листать к предыдущему">
         <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.8284 13.0285L13.1924 18.5455L11.7782 20L4 11.9999L11.7782 4L13.1924 5.4545L7.8284 10.9714H20V13.0285H7.8284Z" fill="#B7FE56" />
         </svg>
      </button>
      <button class="wide-slider__button-next swiper-button" type="button" aria-label="листать к следующему">
         <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.1716 10.9715L10.8076 5.45454L12.2218 4L20 12.0001L12.2218 20L10.8076 18.5455L16.1716 13.0286H4V10.9715H16.1716Z" fill="#B7FE56" />
         </svg>
      </button>
   </div>
</div>