.wide-slider {
   overflow: hidden;

   &__swiper {
      position: relative;
      --width-cover: calc(100% / 1855 * 855 / 2 - 5px);

      @media (min-width:768px) {

         &::after,
         &::before {
            content: '';
            position: absolute;
            top: -2px;
            z-index: 2;
            width: var(--width-cover);
            height: calc(100% + 4px);
            background-color: rgba(255, 255, 255, 0.9);
         }

         &::after {
            left: 0;
         }

         &::before {
            right: 0;
         }
      }
   }

   &__wrapper {}

   &__slide {}

   &__image {
      position: relative;
      padding-bottom: 65.5%;
      overflow: hidden;
      border-radius: 10px;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__button-prev,
   &__button-next {
      position: absolute;
      top: 50%;
      z-index: 3;

      @media (max-width:767.98px) {
         display: none;
      }
   }

   &__button-prev {
      left: calc(var(--width-cover) / 2);
      transform: translate(-50%, -50%);
   }

   &__button-next {
      right: calc(var(--width-cover) / 2);
      transform: translate(50%, -50%);
   }
}