@use '../../../../scss/utils' as *;

.feature-card {
   --padding: 10px;
   padding: var(--padding);
   display: flex;
   flex-direction: column;
   gap: 16px;
   // min-height: 265px;
   border-radius: 10px;
   background-color: #F3F3F3;

   @include size_adaptive (--padding, 10, 36, 768, 1366);
   @include size_adaptive (min-height, 265, 500, 1366, 2560);
   @include size_adaptive (--padding, 36, 70, 1366, 2560);

   @media (min-width:1024px) {
      gap: 30px;
   }

   @media (min-width:2560px) {
      --padding: 70px;
      min-height: 500px;
   }

   &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      @media (min-width:768px) {
         grid-template-columns: 1fr 1fr 1fr 1fr;
      }
   }


   &__icon {
      flex: 1 1 auto;

      img,
      svg {
         width: min(115px, 35%);
         height: auto;
      }
   }

   &__title {
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: 19px;
      line-height: 110%;
      letter-spacing: -0.02em;
      @include size_adaptive (font-size, 19, 36, 1366, 2560);

      @media (min-width:2560px) {
         font-size: 36px;
      }

   }

   &__text {
      font-size: 13px;
      line-height: 140%;
      color: #575757;
      @include size_adaptive (font-size, 13, 22, 1366, 2560);

      @media (min-width:2560px) {
         font-size: 22px;
      }
   }
}