@use '../../../../scss/utils' as *;

.feature-card {
   padding: var(--padding-lg);
   display: flex;
   flex-direction: column;
   gap: 16px;
   // min-height: 265px;
   border-radius: 10px;
   background-color: #F3F3F3;

   @include size_adaptive (min-height, 265, 500, 1366, 2560);

   @media (min-width:1024px) {
      gap: 30px;
   }

   @media (min-width:2560px) {
      min-height: 500px;
   }

   &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      @media (min-width:768px) {
         grid-template-columns: 1fr 1fr 1fr 1fr;
      }
   }


   &__icon {
      flex: 1 1 auto;

      img,
      svg {
         width: min(115px, 35%);
         height: auto;
      }
   }

   &__title {
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: var(--font-size-3xl);
      line-height: 110%;
      letter-spacing: -0.02em;


   }

   &__text {
      font-size: var(--font-size-md);
      line-height: 140%;
      color: #575757;
   }
}