<section class="feedback padding-section">
   <div class="feedback__container">
      <div class="feedback__body">
         <div class="feedback__contant">
            <div class="feedback__title title-section">Отзывы о нас</div>
            <div class="feedback__info">
               <div class="feedback__info-icon">
                  <img src="@img/svg/unim.svg" alt="unim">
               </div>
               <div class="feedback__info-text">
                  <p>UNIM — первая в России полностью цифровая патоморфологическая лаборатория, основанная в 2014 году. </p>
                  <p>Компания предоставляет гистологические, иммуногистохимические и молекулярно-генетические исследования с акцентом на онкологию. Через платформу UNIM Digital Pathology она обеспечивает цифровой процесс диагностики, включая оцифровку стекол и использование ИИ для повышения точности и скорости заключений. UNIM обслуживает тысячи пациентов и сотрудничает с международными партнёрами, помогая другим лабораториям внедрять цифровые технологии.</p>
               </div>
            </div>
            <div class="feedback__info-button">
               @@include('../../UI/Button/Button.html',{
               text:'Оставить отзыв',
               link:'#0',
               class:'button-arrow-purple'
               })
            </div>
         </div>
         <div class="feedback__swiper">
            <div class="swiper">
               <div class="swiper-wrapper">
                  <div class="feedback__slide swiper-slide">
                     <div class="feedback__slide-header">
                        <div class="feedback__slide-title">«Ежемесячные затраты на ИТ-инфраструктуру сократились в 2 раза»</div>
                        <div class="feedback__slide-stars">
                           <img src="@img/svg/star.svg" alt="звезда">
                           <img src="@img/svg/star.svg" alt="звезда">
                           <img src="@img/svg/star.svg" alt="звезда">
                           <img src="@img/svg/star.svg" alt="звезда">
                           <img src="@img/svg/star.svg" alt="звезда">
                        </div>
                     </div>
                     <div class="feedback__slide-text">
                        <p>Компания NETRACK предложила компании UNIM использовать физические ресурсы вместо облачных. По началу у UNIM не было полной уверенности, что решение на физике будет работать не хуже, чем раньше. Но пилотный проект показал, что скорость обработки информации увеличилась в разы, а ежемесячные затраты на ИТ-инфраструктуру сократились в 2 раза.</p>
                        <p>Сегодня NETRACK предоставляет инфраструктуру для UNIM, в том числе серверный кластер с мощными GPU и хранилище данных. Всё оборудование теперь размещено в Москве и подключено к Интернет на скорости 100+ Гбит/с, с премиальной связностью. Наше решение позволяет врачам-патморфологам из любой точки мира обращаться к кластеру UNIM на высокой скорости и работать с файлами громадных размеров.</p>
                     </div>
                     <div class="feedback__slide-author">
                        <div class="feedback__slide-author-name">Анатолий Безгубов</div>
                        <div class="feedback__slide-author-post">Руководитель отдела инфраструктурных решений</div>
                     </div>
                  </div>
                  <div class="feedback__slide swiper-slide">
                     <div class="feedback__slide-header">
                        <div class="feedback__slide-title">«Ежемесячные затраты на ИТ-инфраструктуру сократились в 2 раза»</div>
                        <div class="feedback__slide-stars">
                           <img src="@img/svg/star.svg" alt="звезда">
                           <img src="@img/svg/star.svg" alt="звезда">
                           <img src="@img/svg/star.svg" alt="звезда">
                           <img src="@img/svg/star.svg" alt="звезда">
                           <img src="@img/svg/star.svg" alt="звезда">
                        </div>
                     </div>
                     <div class="feedback__slide-text">
                        <p>Компания NETRACK предложила компании UNIM использовать физические ресурсы вместо облачных. По началу у UNIM не было полной уверенности, что решение на физике будет работать не хуже, чем раньше. Но пилотный проект показал, что скорость обработки информации увеличилась в разы, а ежемесячные затраты на ИТ-инфраструктуру сократились в 2 раза.</p>
                        <p>Сегодня NETRACK предоставляет инфраструктуру для UNIM, в том числе серверный кластер с мощными GPU и хранилище данных. Всё оборудование теперь размещено в Москве и подключено к Интернет на скорости 100+ Гбит/с, с премиальной связностью. Наше решение позволяет врачам-патморфологам из любой точки мира обращаться к кластеру UNIM на высокой скорости и работать с файлами громадных размеров.</p>
                     </div>
                     <div class="feedback__slide-author">
                        <div class="feedback__slide-author-name">Анатолий Безгубов</div>
                        <div class="feedback__slide-author-post">Руководитель отдела инфраструктурных решений</div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="feedback__swiper-buttons">
               <button class="swiper-button-v2 prev" type="button">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M7.8284 10.7782L13.1924 5.41421L11.7782 4L4 11.7782L11.7782 19.5563L13.1924 18.1421L7.8284 12.7782H20V10.7782H7.8284Z" fill="#B7FE56" />
                  </svg>
               </button>
               <button class="swiper-button-v2 next" type="button">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M16.1716 10.7782L10.8076 5.41421L12.2218 4L20 11.7782L12.2218 19.5563L10.8076 18.1421L16.1716 12.7782H4V10.7782H16.1716Z" fill="#B7FE56" />
                  </svg>
               </button>
            </div>

         </div>
      </div>
   </div>
   <div class="background-section">
      <img class="" src="./img/webp/bg-5.webp" alt="фон" aria-hidden="true">
   </div>
</section>