.tabs-switching-buttons {
   margin-bottom: 10px;
   display: flex;
   gap: 10px;

   a,
   button {
      padding: 30px;
      flex: 1 1 1%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      min-height: 100px;
      border: 1px solid #B5B5B5;
      border-radius: 10px;
      background-color: transparent;
      transition: background-color 0.3s, border-color 0.3s;

      ._pc &:hover,
      &.active {
         border-color: #6E48F5;
         background-color: #6E48F5;

         .tabs-switching-buttons__text {
            color: #ffffff;
         }

         .tabs-switching-buttons__info {
            color: #B7FE56;
         }
      }
   }

   &__text {
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: 28px;
      line-height: 110%;
      letter-spacing: -0.01em;
      text-align: center;
      transition: color 0.3s;
   }

   &__info {
      color: #6E48F5;
      transition: color 0.3s;
   }
}