.rate {

   &__table {
      border-collapse: collapse;
      width: 100%;
      table-layout: auto;
      // table-layout: fixed;

      thead {
         font-weight: 600;
         font-size: 24px;
         line-height: 140%;
         background-color: #F3F3F3;
      }

      tbody {
         tr {
            font-weight: 500;
            font-size: 22px;
            line-height: 140%;
         }

         td {
            border-bottom: 1px solid #B5B5B5;
         }

      }

      td,
      th {
         text-align: left;
         padding: 20px 32px;

         &:last-child {
            width: 1%;
            white-space: nowrap;
            text-align: right;
         }
      }

   }

   &__table-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px 32px;
      min-width: 200px;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: #6E48F5;
      border-radius: 100px;
      border: 1px solid #B5B5B5;
   }

   &__table-short {
      max-width: 1475px;
   }
}