.get-help {
   position: relative;

   &__background {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
   }

   &__container {}

   &__body {
      display: flex;
      justify-content: space-between;
   }

   &__content {
      padding-right: 40px;
      flex: 0 1 830px;
   }

   &__title {
      margin-bottom: 40px;
      color: #ffffff;
   }

   &__text {
      font-weight: 500;
      font-size: 30px;
      line-height: 140%;
      color: #ffffff;
   }

   &__form {
      flex: 0 0 50%;
   }

   &__form-grid {
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
   }

   &__form-buttons {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
   }

   &__form-button {
      flex: 0 1 406px;
   }
}