<section class="questions margin-section">
   <div class="questions__container">
      <div class="header-section header-with-button">
         <div class="title-section">Ответы на часто задаваемые вопросы</div>
         <div>
            @@include('../../UI/Button/Button.html',{
            text:'Показать все вопросы',
            link:'#0',
            class:'button-border button-arrow-purple'
            })
         </div>
      </div>
      @@loop('../../UI/Tab-Dropdowm/Tab.html','json/lists/tabs.json')
      <div class="tab__info">
         Аренда выделенного сервера в <strong>NETRACK</strong> — это решение для бизнеса, требующего высокой производительности и стабильности. Мы предлагаем физические серверы с процессорами AMD EPYC, Intel Xeon, DDR4, SSD/NVMe дисками и безлимитным трафиком до 100 Гбит/с. Аренда выделенного сервера с размещением в ЦОД проходит в партнерских дата-центрах Tier III (IXcellerate, DataLine), обеспечивая uptime 99.999% и непрерывное питание. Dedicated аренда сервера включает бесплатное администрирование, защиту от DDoS и бэкап. Стоимость аренды сервера начинается от 16 000 ₽/мес. с возможностью лизинга или выкупа. Закажите тестовый период, чтобы оценить мощность и скорость. Для HighLoad-проектов доступны виртуальные дата-центры и подключение к MSK-IX. Узнайте больше об услугах ЦОД и получите скидку 15% при годовой оплате. Арендовать выделенный сервер у нас — это гибкость, надежность и поддержка 24/7.
      </div>
   </div>
</section>