.questions {

   &__container {}


   &__tab {
      padding: 50px;
      // background-color: #F3F3F3;
      border: 1px solid #B5B5B5;
      border-radius: 10px;
   }

   &__tab-button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
   }

   &__tab-button-text {
      font-family: var(--font-family-second);
      font-size: 36px;
      font-weight: 800;
      line-height: 111%;
      letter-spacing: -0.02em;
   }

   &__tab-button-arrow {
      margin: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      min-width: 60px;
      height: 60px;
      border-radius: 5px;
      background-color: #F3F3F3;
   }

   &__tab-inner {
      font-size: 22px;
      line-height: 140%;
      color: #575757;

      p {
         &:not(:last-child) {
            margin-bottom: 1em;
         }
      }
   }
}