<section class="margin-section">
   <div class="container">
      <div class="header-section">
         <h2 class="title-section">Тарифы на DDoS-защиту</h2>
         <p class="text-section">Арендуя серверы у нас или размещая собственное оборудование в наших дата-центрах, вы получаете DDoS-защищенное подключение к интернет на базовом уровне бесплатно.</p>
         <p class="subtext-section">На уровне L7 тарифицируется пропускная способность канала с чистым трафиком.</p>
      </div>
      @@include('./Tables/Rate-Table-DDoS.html',{})
   </div>
</section>