.table {
   border-collapse: collapse;
   width: 100%;
   table-layout: auto;
   // table-layout: fixed;

   thead {
      font-weight: 600;
      line-height: 140%;
      background-color: #F3F3F3;

      th {
         font-size: 24px;
      }
   }

   tbody {

      th,
      td {
         font-size: 22px;
         font-weight: 500;
         line-height: 140%;
         vertical-align: top;
         border-bottom: 1px solid #B5B5B5;
      }
   }

   td {
      ul {
         font-size: 20px;
         line-height: 140%;
         color: #575757;

         &:not(:first-child) {
            margin-top: 10px;
         }

         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }

      li {
         list-style: disc;
         margin-left: 1.5em;
      }
   }

   td,
   th {
      text-align: left;
      padding: 20px 32px;

      &:last-child {
         padding-left: 0;
         padding-right: 0;
         width: 1px;
         white-space: nowrap;
         text-align: right;
      }
   }

   &__shell {
      display: flex;
      gap: 50px;
   }

   &__button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px 32px;
      min-width: 200px;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: #6E48F5;
      border-radius: 100px;
      border: 1px solid #B5B5B5;
   }

   &__info {
      flex: 0 0 27%;
   }

   &__info-body {
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 40px;
      font-size: 22px;
      line-height: 140%;
      background-color: #F3F3F3;
      border-radius: 10px;

      span {
         color: #6E48F5;
      }

      p {
         &:first-child {
            font-weight: 500;
         }
      }
   }
}