.table {
   align-self: flex-start;
   border-collapse: collapse;
   width: 100%;
   table-layout: auto;
   // table-layout: fixed;

   .table__shell & {
      @media (max-width:1023.98px) {
         thead {
            @media (max-width:1023.98px) {
               display: none;
            }
         }

         tr {
            padding-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            border-top: 1px solid #B5B5B5;


            td {
               padding: 0;

               &:not(:last-child) {
                  display: flex;

                  &::before {
                     content: attr(data-label);
                     flex: 0 0 50%;
                     padding-right: 10px;
                     color: #575757;
                     font-weight: 400;
                  }
               }

               &:last-child {
                  padding-top: 20px;
                  min-width: 100%;
                  text-align: center;
               }
            }
         }
      }

      td,
      th {
         &:last-child {
            padding-left: 0;
            padding-right: 0;
            width: 1px;
            white-space: nowrap;
            text-align: right;
         }
      }
   }

   td,
   th {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 12px;
      text-align: left;


      @media (min-width:1024px) {
         padding: 16px 20px;
      }

      &:last-child {
         padding-right: 0;
      }
   }

   @media (min-width:1366px) {

      td,
      th {
         padding: 20px 32px;
      }
   }

   thead {
      font-weight: 600;
      line-height: 140%;
      background-color: #F3F3F3;

      th {
         @media (min-width:1024px) {
            font-size: 20px;
         }

         @media (min-width:1366px) {
            font-size: 24px;
         }
      }
   }

   tbody {

      th,
      td {
         font-size: 15px;
         font-weight: 500;
         line-height: 140%;
         vertical-align: top;

         @media (min-width:1024px) {
            font-size: 18px;
            border-bottom: 1px solid #B5B5B5;
         }

         @media (min-width:1366px) {
            font-size: 22px;
         }
      }
   }

   td {
      ul {
         font-size: 0.9em;
         line-height: 140%;
         color: #575757;

         &:not(:first-child) {
            margin-top: 10px;
         }

         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }

      li {
         list-style: disc;
         margin-left: 1.5em;
      }
   }

   &__comparison {
      @media (max-width:767.98px) {
         th {
            padding-left: 12px;
         }

         thead {
            tr {
               display: flex;
               flex-wrap: wrap;

               th {
                  flex: 0 0 50%;

                  &:first-child {
                     display: none;
                  }
               }
            }
         }

         tbody {
            tr {
               display: flex;
               flex-wrap: wrap;

               th {
                  font-weight: 700;
                  flex: 0 0 100%;
               }

               td {
                  flex: 0 0 50%;
               }
            }
         }
      }

      tbody {

         td,
         th {
            @media (min-width:768px) {
               border-bottom: 1px solid #B5B5B5;
            }
         }
      }
   }

   &__shell {
      @media (min-width:1024px) {
         display: flex;
         gap: var(--padding-md);
      }
   }

   &__button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px 32px;
      min-width: 100%;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: #6E48F5;
      border-radius: 100px;
      border: 1px solid #B5B5B5;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;

      ._pc &:hover {
         background-color: #6E48F5;
         color: #F3F3F3;
         border-color: #6E48F5;
      }

      @media (min-width:1024px) {
         min-width: 200px;
      }
   }

   &__info {
      flex: 0 0 27%;
   }

   &__info-body {
      padding: var(--padding-sm);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 40px;
      font-size: 16px;
      line-height: 140%;
      background-color: #F3F3F3;
      border-radius: 10px;

      @media (min-width:1024px) {
         font-size: 22px;
      }

      span {
         color: #6E48F5;
      }

      p {
         &:first-child {
            font-weight: 500;
         }
      }
   }
}