.server-configuration {

   &__container {}

   &__tab {
      height: 0;
      overflow: hidden;
      pointer-events: none;

      &.active {
         overflow: visible;
         pointer-events: all;
         height: auto;
      }
   }
}