<section class="ideal-infrastructur margin-section">
   <div class="ideal-infrastructur__container">
      <div class="header-section">
         <div class="title-section">Соберите свою идеальную инфраструктуру</div>
         <div class="text-section">Берите только то, что нужно, и комбинируйте как угодно: своё железо, наши серверы, любой интернет, любые дата-центры</div>
      </div>
      <div class="ideal-infrastructur__grid">
         <div class="ideal-infrastructur__cell">
            <div class="ideal-infrastructur__cell-title">
               <span>Своё и арендованное</span> — в одной стойке
            </div>
            <div class="ideal-infrastructur__cell-text">
               Размещайте свои серверы рядом с арендованными у NETRACk в одной стойке. Максимальная плотность, минимальные затраты и полный контроль — всё в ваших руках!
            </div>
         </div>
         <div class="ideal-infrastructur__cell">
            <div class="ideal-infrastructur__cell-title">
               Интернет от кого угодно — <span>стойка от нас</span>
            </div>
            <div class="ideal-infrastructur__cell-text">Оставайтесь с любимым провайдером или подключите интернет от NETRACk — мы не навязываем. Берите лучшее от рынка и лучшую колокацию от NETRACk.</div>
         </div>
         <div class="ideal-infrastructur__cell">
            <div class="ideal-infrastructur__cell-title">
               <span>Одна сеть</span> — любой дата-центр
            </div>
            <div class="ideal-infrastructur__cell-text">
               Устанавливайте серверы одновременно в нескольких дата-центрах NETRACk и объединяйте их в защищённую частную сеть. Геораспределение без лишних сложностей.
            </div>
         </div>
         <div class="ideal-infrastructur__cell">
            <div class="ideal-infrastructur__cell-title">
               <span>Гибридное</span> размещение
            </div>
            <div class="ideal-infrastructur__cell-text">
               Держите часть серверов у себя в офисе (услуга «серверы навынос»), а критически важные - в наших ЦОДах. Полная синхронизация, единая безопасность, нулевые простои.
            </div>
         </div>
         <img class="ideal-infrastructur__image" src="@img/svg/ideal-infrastructur.svg" alt="круговая зависимость">
      </div>

   </div>

</section>