.ideal-infrastructur {

   &__container {}

   &__grid {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
   }

   &__cell {
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      border-radius: 10px;
      border: 1px solid #B5B5B5;

      &>* {
         width: 80%;
      }

      &:nth-child(2n + 2) {
         align-items: flex-end;
         text-align: right;
      }
   }

   &__cell-title {
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: 36px;
      line-height: 110%;
      letter-spacing: -0.02em;

      span {
         color: #6E48F5;
      }
   }

   &__cell-text {
      font-size: 22px;
      line-height: 140%;
   }

   &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 9.5%;
   }
}