@use '../../../scss/utils' as *;

.ideal-infrastructur {

   &__container {}

   &__grid {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;

      @media (min-width:768px) {
         grid-template-columns: 1fr 1fr;
      }
   }

   &__cell {
      padding: var(--padding-md);
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: 10px;
      border: 1px solid #B5B5B5;

      @media (min-width:768px) {
         gap: 25px;

         &>* {
            width: 85%;
         }

         &:nth-child(2n + 2) {
            align-items: flex-end;
            text-align: right;
         }
      }
   }

   &__cell-title {
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: var(--font-size-3xl);
      line-height: 110%;
      letter-spacing: -0.02em;

      span {
         color: #6E48F5;
      }
   }

   &__cell-text {
      font-size: var(--font-size-md);
      line-height: 140%;
   }

   &__image {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 9.5%;

      @media (min-width:768px) {
         display: block;
      }
   }
}