<section class="team margin-section">
   <div class="team__container">
      <div class="header-section">
         <h2 class="title-section">Наша команда</h2>
      </div>
      <div class="team__body">
         <div class="team__item">
            <div class="team__photo">
               <img src="@img/webp/team-1.webp" alt="Алексей Рубаков">
            </div>
            <div class="team__data">
               <div class="team__name">Алексей<br> Рубаков</div>
               <div class="team__post">основатель <b>NETRACK</b></div>
            </div>
         </div>
         <div class="team__item">
            <div class="team__photo">
               <img src="@img/webp/team-2.webp" alt="Валерия Рубакова">
            </div>
            <div class="team__data">
               <div class="team__name">Валерия<br> Рубакова</div>
               <div class="team__post">генеральный директор</div>
            </div>
         </div>
         <div class="team__item">
            <div class="team__photo">
               <img src="@img/webp/team-3.webp" alt="Александр Камендровский">
            </div>
            <div class="team__data">
               <div class="team__name">Александр<br> Камендровский</div>
               <div class="team__post">зам. генерального директора</div>
            </div>
         </div>
         <div class="team__item">
            <div class="team__photo">
               <img src="@img/webp/team-4.webp" alt="Светлана Третьякова">
            </div>
            <div class="team__data">
               <div class="team__name">Светлана<br> Третьякова</div>
               <div class="team__post">директор ком.департамента</div>
            </div>
         </div>
         <div class="team__item">
            <div class="team__photo">
               <img src="@img/webp/team-5.webp" alt="Борис Казаков">
            </div>
            <div class="team__data">
               <div class="team__name">Борис<br> Казаков</div>
               <div class="team__post">технический директор</div>
            </div>
         </div>
         <div class="team__item">
            <div class="team__photo">
               <img src="@img/webp/team-6.webp" alt="Степан Ребров">
            </div>
            <div class="team__data">
               <div class="team__name">Степан<br> Ребров</div>
               <div class="team__post">зам. технического директора</div>
            </div>
         </div>

      </div>

   </div>

</section>