@use '../../../scss/utils' as *;

.team {

   &__container {}

   &__body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      @media (min-width:600px) {
         grid-template-columns: repeat(3, 1fr);
      }

      @media (min-width:1024px) {
         grid-template-columns: repeat(6, 1fr);
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }

   &__photo {
      position: relative;
      overflow: hidden;
      padding-bottom: 117%;
      border-radius: 10px;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__data {
      flex: 1 1 auto;
      padding: var(--padding-xs);
      border: 1px solid #B5B5B5;
      border-radius: 10px;
   }

   &__name {
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: 16px;
      line-height: 110%;
      letter-spacing: -0.02em;
      text-align: center;

      @include size_adaptive (--font-size-sm, 16, 20, 1024, 1366);
      @include size_adaptive (--font-size-sm, 20, 32, 1366, 2560);

      @media (min-width:2560px) {
         font-size: 32px;
      }
   }

   &__post {
      font-size: var(--font-size-sm);
      line-height: 140%;
      text-align: center;
      color: #575757;

      b {
         font-weight: 600;
      }
   }
}