<section class="connection-scheme padding-section">
   <div class="connection-scheme__container">
      <div class="header-section dark--scheme">
         <h2 class="title-section">Как подключить локальную сеть внутри ЦОД</h2>
      </div>
      <div class="connection-scheme__item">
         @@loop('./Connection-Scheme-Cell.html', 'json/lists/connection-scheme.json')
      </div>
   </div>
   <div class="background-section">
      <img class="" src="@img/webp/bg-3.webp" alt="фон" aria-hidden="true">
   </div>
</section>