@use '../../../scss/utils' as *;

.primary {

   &__container {}

   &__grid-large {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;

      @media (min-width:768px) {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   &__swiper {
      margin-top: 10px;
      overflow: hidden;
   }

   &__header {
      padding: var(--padding-lg);
      background-color: #F3F3F3;
      border-radius: 10px;
      overflow: hidden;

      @media (min-width:768px) {
         grid-column: span 2;
      }
   }

   &__title {
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: var(--font-size-max);
      line-height: 100%;
      letter-spacing: -0.02em;

      span {
         color: #6E48F5;
      }
   }

   &__large {
      position: relative;
      min-height: 340px;
      border-radius: 10px;
      overflow: hidden;
      background-color: #F3F3F3;

      @include size_adaptive (min-height, 340, 600, 1366, 2560);

      @media (min-width:2560px) {
         min-height: 600px;
      }

      &>* {
         position: relative;
         z-index: 3;
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         z-index: 1;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__large-banner {
      margin: 20px;
      padding: var(--padding-sm);
      display: inline-block;
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: -0.01em;
      background-color: #B7FE56;
      border-radius: 5px;

      @include size_adaptive (font-size, 30, 55, 1366, 2560);

      @media (min-width:2560px) {
         font-size: 55px;
      }
   }


   &__content {
      padding: var(--padding-lg);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      min-height: 340px;

      @media (min-width:768px) {
         min-height: 400px;
      }

      @include size_adaptive (min-height, 400, 770, 1366, 2560);

      @media (min-width:2560px) {
         min-height: 770px;
      }

      .primary__title {
         margin-bottom: 30px;

         @media (min-width:2560px) {
            margin-bottom: 100px;
         }
      }
   }

   &__text {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: var(--font-size-2xl);
      line-height: 140%;

      @media (min-width:1366px) {
         margin-bottom: 20px;
      }

      @media (min-width:2560px) {
         margin-bottom: 30px;
      }
   }

   &__subtext {
      margin-bottom: 16px;
      font-size: var(--font-size-ml);
      line-height: 140%;

      @media (min-width:1366px) {
         margin-bottom: 20px;
      }

      @media (min-width:2560px) {
         margin-bottom: 30px;
      }
   }

   &__button {
      margin-top: 30px;

      @media (min-width:1366px) {
         margin-top: 40px;
      }

      @media (min-width:2560px) {
         margin-top: 50px;
      }
   }


   &__small {
      position: relative;
      padding: var(--padding-sm);
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      align-items: center;
      gap: 5px;
      border: 1px solid #B5B5B5;
      border-radius: 10px;
      overflow: hidden;

      &.bg-scheme {
         color: #ffffff;
         gap: 15px;

         &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 1005px;
            height: 100%;
            background-color: rgba(25, 25, 25, 0.7);
         }
      }

      &>* {
         position: relative;
         z-index: 3;
      }



   }

   &__small-icon {
      --blur: 20px;
      position: relative;
      width: 35%;

      .bg-scheme &::before {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         z-index: -1;
         width: 100%;
         height: 100%;
         border-radius: 50%;
         transform: translate(-50%, -50%);
         background-color: #B7FE56;
         filter: blur(var(--blur));

         @include size_adaptive (--blur, 25, 45, 1366, 2560);

         @media (min-width:2560px) {
            filter: blur(45px);
         }
      }

      img,
      svg {
         width: 100%;
         height: auto;
      }
   }

   &__small-text {
      font-size: var(--font-size-md);
      text-align: center;
      line-height: 140%;
      font-weight: 500;

      .bg-scheme & {
         font-family: var(--font-family-second);
         font-weight: 800;
         line-height: 100%;
         letter-spacing: -0.01em;
         font-size: var(--font-size-2xl);

      }
   }

   &__small-background {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}