<div class="configuration__double-range js-double-range">
   <div class="configuration__double-range-track js-double-range-track">
      <span class="configuration__double-range-spin js-double-range-spin js-double-range-spin-min">
         <input class="configuration__double-range-input js-double-range-input-min" type="number" inputmode="decimal" min="@@min" max="@@max" name="@@name_min" @@if(context.minvalue){value="@@minvalue" }>
      </span>
      <span class="configuration__double-range-spin js-double-range-spin js-double-range-spin-max">
         <input class="configuration__double-range-input js-double-range-input-max" type="number" inputmode="decimal" min="@@min" max="@@max" name="@@name_max" @@if(context.maxvalue){value="@@maxvalue" }>
      </span>
   </div>
</div>