<div class="configuration__selection-list js-tabs-body js-tabs-toggle js-tabs-closing js-data-scope @@if(context.class){@@class}">
   <button class="configuration__selection-border" type="button">
      <span class="configuration__selection-wrapper">
         <span class="configuration__selection-text-group js-data-replace">
            <span>@@text</span>
            @@if(context.subtext){<span class="configuration__selection-subtext">@@subtext</span>}
            @@if(context.subtextcolor){<span class="configuration__selection-subtext-color">@@subtextcolor</span>}
         </span>
         <span class="configuration__selection-arrow">
            <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M4.24268 5.65685L0 1.41425L1.41422 0L4.24268 2.82845L7.07108 0L8.48528 1.41425L4.24268 5.65685Z" fill="#191919" />
            </svg>
         </span>
      </span>
   </button>
   <div class="configuration__section-shell js-tabs-shell">
      <div class="js-tabs-inner">
         <div class="configuration__selection-border-inner scroll">
            @@loop('./selection.html','json/lists/@@json')
         </div>
      </div>
   </div>
</div>