@use '../../../scss/utils' as *;

.tab {
   background-color: transparent;
   border: 1px solid #B5B5B5;
   border-radius: 10px;
   transition: border-color $tr-time-l, background-color $tr-time-l;

   &:not(:last-child) {
      margin-bottom: 10px;
   }

   &.js-tabs-open {
      border-color: #F3F3F3;
      background-color: #F3F3F3;
   }

   &__button {
      padding: var(--padding-md);
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      gap: 10px;
      width: 100%;
      font-size: var(--font-size-3xl);
      color: #575757;
      transition: color $tr-time;

      @media (min-width:1366px) {
         gap: 30px;
      }

      .js-tabs-open & {
         color: #191919;
      }
   }

   &__button-text {
      flex: 1 1 auto;
      font-family: var(--font-family-second);
      font-weight: 800;
      line-height: 111%;
      letter-spacing: -0.02em;


   }

   &__price {
      font-weight: 800;
      white-space: nowrap;
      line-height: 111%;
      letter-spacing: -0.02em;
      color: #191919;
      transition: color $tr-time;

      .js-tabs-open & {
         color: #6E48F5;
      }
   }

   &__price-text {
      font-size: 0.67em;
   }

   &__button-arrow {
      --size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--size);
      min-width: var(--size);
      height: var(--size);
      border-radius: 5px;
      background-color: #F3F3F3;
      transition: background-color $tr-time-l;
      @include size_adaptive (--size, 40, 60, 1366, 2560);

      @media (min-width:1024px) {
         margin: -10px;
      }

      @media (min-width:2560px) {
         --size: 60px;
      }

      svg {
         width: 40%;
         height: auto;
         transition: transform $tr-time;

         path {
            fill: #6E48F5;
            transition: fill $tr-time;
         }
      }

      .js-tabs-open & {
         background-color: #6E48F5;

         svg {
            transform: rotate3d(1, 0, 0, 180deg);

            path {
               fill: #B7FE56
            }
         }
      }
   }

   &__shell {
      transition: height $tr-time-l;
   }

   &__inner {
      padding: var(--padding);
      padding-top: 0;
      font-size: var(--font-size-md);
      line-height: 140%;
      color: #575757;

      p {
         &:not(:last-child) {
            margin-bottom: 1em;
         }
      }
   }

   &__info {
      padding: 16px 0;
      font-size: 12px;
      line-height: 150%;
      border-bottom: 1px solid #B5B5B5;

      @media (min-width:1024px) {
         padding: 35px 0;
         font-size: 16px;
      }

      b,
      strong {
         font-weight: 600;
      }
   }
}