<section class="margin-section">
   <div class="container">
      <div class="header-section">
         <h2 class="title-section">Техподдержка от инженеров, а не от ботов</h2>
         <div class="text-section">Все перечисленные работы <span>включены в стоимость</span> размещения сервера</div>
      </div>

      <div class="list-card__grid">
         @@include('../../UI/Cards/List-Card/List-Card.html', {
         title: 'Оборудование',
         image: 'svg/list-card-icon-1.svg',
         list: [
         "Проверка и замена неисправного оборудования",
         "Удалённый перезапуск (через IPMI или вручную)",
         "Подключение USB устройств, Предоставление KVM/IPMI доступа",
         "Установка/снятие дополнительных компонентов (HDD, RAM, RAID-карты)",
         "Диагностика и устранение проблем с RAID-массивами",
         "Мониторинг температур и состояния железа",
         "Проверка SMART-статуса дисков"
         ] })
         @@include('../../UI/Cards/List-Card/List-Card.html', {
         title: 'Сеть и доступ',
         image: 'svg/list-card-icon-2.svg',
         list: [
         "Настройка/перенастройка сетевых интерфейсов",
         "Восстановление сетевого доступа (в случае блокировки, сбоев)",
         "Выдача и настройка дополнительных IP-адресов",
         "Настройка VLAN, LACP, trunk-портов",
         "Проверка маршрутизации и таблиц ARP",
         "Трассировка, выявление потерь пакетов, пингов и прочее"
         ] })
      </div>

      <h3 class="subtitle-section">Используем все доступные каналы связи</h3>
      <div class="feature-card__grid">
         @@loop('../../UI/Cards/Feature-Card/Feature-Card.html', 'json/lists/enebled-support-connection.json')
      </div>

   </div>
</section>