.enabled-support {

   &__container {}

   &__grid {
      margin-bottom: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
   }

   &__cell {
      position: relative;
      padding: 70px;
      border-radius: 10px;
      border: 1px solid #B5B5B5;
   }

   &__cell-title {
      margin-bottom: 30px;
      font-family: var(--font-family-second);
      font-size: 36px;
      font-weight: 800;
      line-height: 110%;
      letter-spacing: -0.02em;
   }

   &__list {
      max-width: 84%;
      font-size: 22px;
      line-height: 140%;
      color: #575757;

      li {
         margin-left: 1.5em;
         list-style: disc;

         &:not(:last-child) {
            margin-bottom: 10px;
         }
      }
   }

   &__background-icon {
      position: absolute;
      bottom: 30px;
      right: 30px;
      z-index: -1;
      width: min(250px, 25%);
      height: auto;
   }

   &__connection-title {
      margin-bottom: 40px;
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: 60px;
      line-height: 100%;
      letter-spacing: -0.02em;
   }

   &__connection-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 10px;
   }

   &__connection-cell {
      padding: 70px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      min-height: 500px;
      border-radius: 10px;
      background-color: #F3F3F3;
   }

   &__connection-cell-icon {
      flex: 1 1 auto;

      img,
      svg {
         width: 115px;
         height: auto;
      }
   }

   &__connection-cell-title {
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: 36px;
      line-height: 110%;
      letter-spacing: -0.02em;
   }

   &__connection-cell-text {
      font-size: 22px;
      line-height: 140%;
      color: #575757;
   }
}