.ddos {
   position: relative;

   &__container {}

   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      @media (min-width:992px) {
         flex-direction: row;
      }

      @media (min-width:1024px) {
         gap: 40px;
      }
   }

   &__image {

      @media (min-width:992px) {
         flex: 0 1 1377px;
      }

      svg,
      img {
         width: 100%;

         @media (min-width:768px) {
            margin: 0 -2.5%;
            max-width: 105%;
            min-width: 105%;
         }
      }
   }

   &__text {
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #B5B5B5;
      font-size: var(--font-size-md);
      line-height: 140%;
      color: #ffffff;

      @media (min-width:992px) {
         flex: 0 1 590px;
      }

      @media (min-width:2000px) {
         padding: 40px;
      }

      p {
         &:not(:last-child) {
            margin-bottom: 1em;
         }
      }
   }
}