<section class="ddos padding-section">
   <div class="ddos__container">
      <div class="header-section dark--scheme">
         <div class="title-section">Как работает защита</div>
      </div>

      <div class="ddos__body">
         <div class="ddos__image">
            <img src="@img/svg/ddos.svg" alt="схема работы защиты">
         </div>
         <div class="ddos__text">
            <p>Система обнаружения DDoS автоматически анализирует входящий трафик на все серверы и при превышении усредненных пороговых значений меняет маршрут трафика, перенаправляя трафик сети под атакой на устройства фильтрации.</p>
            <p>По прошествии атаки маршрут трафика меняется на исходный.</p>
            <p>Перевод трафика под защиту может занимать до нескольких минут</p>
         </div>
      </div>

   </div>
   <div class="background-section">
      <img class="" src="@img/webp/bg-1.webp" alt="фон" aria-hidden="true">
   </div>
</section>