.ddos {
   position: relative;

   &__container {}

   &__body {
      display: flex;
      justify-content: space-between;
      gap: 40px;
   }

   &__image {
      flex: 0 1 1377px;

      img {
         margin: 0 -2.5%;
         width: 100%;
      }
   }

   &__text {
      flex: 0 1 590px;
      padding: 40px;
      border-radius: 10px;
      border: 1px solid #B5B5B5;
      font-size: 22px;
      line-height: 140%;
      color: #ffffff;

      p {
         &:not(:last-child) {
            margin-bottom: 1em;
         }
      }
   }
}