@use '../../../scss/utils' as *;

.intro {

   &__container {}

   &__body {
      position: relative;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 365px;
      border-radius: 10px;
      overflow: hidden;
      color: #ffffff;

      @media (min-width:768px) {
         min-height: 320px;
      }

      @media (min-width:1366px) {
         padding: var(--padding-lg);
      }

      @include size_adaptive (min-height, 320, 600, 1366, 2560);

      @media (min-width:2560px) {
         min-height: 600px;
      }
   }

   &__title {
      margin-bottom: 50px;
      max-width: max(9.375em, 45%);
      font-family: var(--font-family-second);
      font-size: var(--font-size-max);
      font-weight: 800;
      line-height: 100%;
      letter-spacing: -0.01em;
      @include size_adaptive (margin-bottom, 50, 100, 1366, 2560);

      @media (min-width:2560px) {
         margin-bottom: 100px;
      }
   }

   &__text {
      margin-bottom: 20px;
      font-size: var(--font-size-ml);
      line-height: 140%;
      max-width: max(42em, 45%);

      @media (min-width:1366px) {
         margin-bottom: 50px;
      }

      p {
         &:not(:first-child) {
            margin-top: 10px;
         }
      }
   }

   &__footer {
      display: flex;
      flex-direction: column;

      @media (min-width:768px) {
         justify-content: space-between;
         align-items: flex-end;
         flex-direction: row;
      }
   }

   &__buttons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: stretch;

      @media (min-width:768px) {
         align-items: center;
         flex-direction: row;
      }
   }

   &__link {
      align-self: center;
      display: flex;
      gap: 10px;
      font-size: var(--font-size-sm);
      letter-spacing: -0.02em;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-underline-offset: 0.2em;

      @media (min-width:768px) {
         align-self: auto;
      }

      svg,
      img {
         height: 1.2em;
         width: auto;
      }
   }

   &__tags {
      flex: 0 1 50%;
      display: none;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 5px;

      @media (min-width:768px) {
         display: flex;
      }
   }

   &__tag {
      padding: max(0.111px, 2px) 0.666em;
      font-weight: 500;
      font-size: var(--font-size-xs);
      line-height: 140%;
      background-color: #242424;
      color: #B7FE56;
      border-radius: 15px;
   }

   &__background {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}