.customers {
   position: relative;
   --size: 360px;

   @media (min-width:1200px) {
      &::before {
         content: '';
         position: absolute;
         z-index: 1;
         top: calc(var(--font-size-subtitle) / 2);
         left: 50%;
         transform: translateX(-50%);
         width: 100%;
         height: calc(100% - var(--font-size-subtitle) / 2);
         border-radius: var(--radius-m);
         border: 1px solid #B5B5B5;
         pointer-events: none;
      }
   }

   .title-section {
      position: relative;
      z-index: 3;
      max-width: none;
      font-size: var(--font-size-subtitle);

      @media (min-width:1200px) {
         padding-left: 20px;
         padding-right: 20px;
         background-color: #ffffff;
      }
   }

   &__container {}

   &__hide {
      position: relative;
      height: var(--size);
      overflow: hidden;
      transition: height 0.3s;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         z-index: 2;
         width: 100%;
         height: calc(var(--size) + 5px);
         background: linear-gradient(#ffffff00, #ffffff 85%, #ffffff 100%);
         pointer-events: none;
         transition: opacity 0.3s;

         @media (min-width:1200px) {
            height: calc(var(--size) - 1px);
         }

         .all-customers & {
            opacity: 0;
         }
      }


   }

   &__grid {
      position: relative;
      padding-bottom: var(--padding-md);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      @media (min-width:768px) {
         grid-template-columns: repeat(7, 1fr);
      }

      @media (min-width:1024px) {
         grid-template-columns: repeat(10, 1fr);
      }

      &>div {
         display: flex;
         align-items: center;
         justify-content: center;
      }

      &>img,
      &>svg {
         width: 100%;
         height: auto;
      }
   }

   &__button {
      position: absolute;
      z-index: 3;
      bottom: var(--padding-lg);
      left: 50%;
      transform: translateX(-50%);
      transition: opacity 0.3s;

      .all-customers & {
         opacity: 0;
         pointer-events: none;
      }
   }
}