<section class="customers">
   <div class="customers__container">
      <div class="header-section">
         <h2 class="title-section"><span>Более 1000 клиентов</span> размещают свою ИТ-инфраструктуру в NETRACK</h2>
      </div>
      <div class="customers__hide">
         <div class="customers__grid">
            @@loop('./Customers-Cell.html','json/lists/customers.json')
         </div>
      </div>
      <div class="customers__button">
         @@include('../../UI/Button/Button.html',{
         text:'Смотреть всех',
         class:'button-border button-arrow-purple js-show-customers'
         })
      </div>
   </div>
</section>