@use '../../../scss/utils' as *;

.ordering {
   --size: 30px;

   @media (min-width:1024px) {
      --size: 50px;
   }

   &__close {
      position: absolute;
      top: 12px;
      right: 8px;
      z-index: 1;
      width: 30px;
      height: 30px;
   }

   &__title {
      margin-bottom: max(var(--padding-sm), 20px);
      font-family: avr(--font-family-second);
      font-weight: 800;
      font-size: 32px;
      line-height: 100%;
      color: #000;

      @include size_adaptive (font-size, 32, 42, 1024, 2560);

      @media (min-width:2560px) {
         font-size: 42px;
      }
   }

   &__body {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (min-width:1024px) {
         flex-direction: row;
      }
   }

   &__list {
      counter-reset: item;

      @media (min-width:1024px) {
         flex: 0 0 min(600px, 60%);
      }
   }

   &__block {
      display: flex;
      align-items: flex-start;
      gap: 5px;
      margin-bottom: 5px;
   }

   &__item {
      flex: 1 1 auto;
      position: relative;
      padding-left: calc(var(--size) + 5px);
   }

   &__item-button {
      position: relative;
      padding: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      min-height: var(--size, 50px);
      width: 100%;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      font-size: 12px;
      color: #000;
      background-color: #F3F3F3;
      @include size_adaptive (font-size, 12, 16, 768, 1024);

      @media (min-width:768px) {
         padding: 8px 20px;
      }

      @media (min-width:1024px) {
         font-size: 16px;
      }

      b {
         font-weight: 700;
      }

      &.ordering__number::before {
         content: '/' counter(item) '.';
         counter-increment: item;
         position: absolute;
         top: 0;
         right: calc(100% + 5px);
         width: var(--size, 50px);
         min-width: var(--size, 50px);
         min-height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: #000000;
         border-radius: 5px;
         font-weight: 700;
         line-height: 100%;
         color: #B7FE56;
         transition: background-color 0.3s, color 0.3s;

         .js-tabs-open & {
            background-color: #B7FE56;
            color: #000;
         }
      }

      &.ordering__add::before {
         content: '+';
         position: absolute;
         top: 0;
         right: calc(100% + 5px);
         width: var(--size, 50px);
         min-width: var(--size, 50px);
         min-height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: #6E48F5;
         color: #B7FE56;
         font-size: 20px;
         border-radius: 5px;
      }
   }

   &__arrow {
      display: flex;
      align-items: center;

      img,
      svg {
         transition: transform 0.3s;
      }

      .js-tabs-open & {

         svg,
         img {
            transform: rotate3d(1, 0, 0, 180deg);
         }
      }
   }

   &__shell {
      margin-top: 5px;
      height: 0;
      transition: height 0.3s;
   }

   &__item-inner {
      border: 1px dashed #acacac;
      border-radius: 5px;
      padding: 8px;
      font-size: 10px;
      line-height: 150%;
      @include size_adaptive (font-size, 10, 14, 768, 1366);

      @media (min-width:1024px) {
         padding: 20px;
      }

      @media (min-width:2560px) {
         font-size: 14px;
      }

      td {
         padding-bottom: 4px;
         vertical-align: top;

         &:nth-child(odd) {
            padding-right: 8px;
            color: #ACACAC;

            @media (min-width:1024px) {
               padding-right: 20px;
            }
         }
      }
   }

   &__inner-list {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      font-size: 12px;
      line-height: 100%;
      color: #000;
      background-color: #F3F3F3;
      text-align: center;
      @include size_adaptive (font-size, 12, 16, 768, 1366);

      @media (min-width:2560px) {
         font-size: 16px;
      }
   }

   &__target {
      padding: 12px;
   }

   &__quantity {
      width: 70px;
      min-width: 70px;
   }

   &__delete {
      height: var(--size, 50px);
      display: flex;
      align-items: center;
      width: 20px;

      svg,
      img {
         width: 100%;
         height: auto;
      }
   }

   &__device-list {
      margin-top: 5px;
      max-height: 300px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      background-color: #F3F3F3;
      overflow-y: auto;
   }

   &__device-item {
      cursor: pointer;
      padding: 12px 20px;
      font-size: 12px;
      @include size_adaptive (font-size, 12, 16, 768, 1366);

      @media (min-width:2560px) {
         font-size: 16px;
      }
   }

   &__result {
      margin-top: 20px;
      padding: var(--padding-xs);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: var(--font-size-xs);
      font-weight: 700;
      color: #ffffff;
      background-color: #6E48F5;
      border-radius: 5px;

      @media (min-width:1024px) {
         margin-top: var(--padding-md);
      }

      b {
         font-family: var(--font-family-second);
         font-size: var(--font-size-lg);
      }
   }

   &__forms {
      @media (min-width:1024px) {
         flex: 1 1 auto;
      }
   }

   &__count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: var(--size);
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      font-size: 12px;
      background-color: #F3F3F3;

      button {
         align-self: stretch;

         &:first-child {
            padding-left: 12px;
         }

         &:last-child {
            padding-right: 12px;
         }
      }

      input {
         width: 1.5em;
         text-align: center;
      }
   }
}