<div class="ordering__block">
   <div class="ordering__item js-tabs-body">
      <button class="ordering__item-button ordering__number js-tabs-toggle" type="button">
         <b>Сервер 1</b>
         <span>
            <b>10 000</b>
            <span>руб/мес</span>
         </span>
      </button>
      <div class="ordering__shell js-tabs-shell">
         <div class="js-tabs-inner">
            <div class="ordering__item-inner">
               <table>
                  <tbody>
                     @@loop('./tr.html', 'json/lists/ordering-inner.json')
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <div class="ordering__quantity">
      <div class="ordering__count js-form-count">
         <button class="js-form-dicrement" type="button">-</button>
         <input class="js-form-value" type="number" min="1" max="20" value="1">
         <button class="js-form-increment" type="button">+</button>
      </div>
   </div>
   <button class="ordering__delete" type="button" aria-label="удалить">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M5.33366 15.8332L4.16699 14.6665L8.83366 9.99984L4.16699 5.33317L5.33366 4.1665L10.0003 8.83317L14.667 4.1665L15.8337 5.33317L11.167 9.99984L15.8337 14.6665L14.667 15.8332L10.0003 11.1665L5.33366 15.8332Z" fill="#7F7F7F" />
      </svg>
   </button>
</div>