<section class="matrix-services margin-bottom-section">
   <div class="matrix-services__container">
      <div class="header-section">
         <div class="title-section">Матрица доступности услуг в дата-центрах</div>
      </div>

      <div class="matrix-services__grid">
         <div></div>
         <div class="matrix-services__cell-header">аренда<br> сервера</div>
         <div class="matrix-services__cell-header">аренда<br> СХД</div>
         <div class="matrix-services__cell-header">поюни&shy;товая<br> аренда</div>
         <div class="matrix-services__cell-header">аренда<br> стоек</div>
         <div class="matrix-services__cell-header">интернет<br> 10 Гбит/с</div>
         <div class="matrix-services__cell-header">защита<br> от DDoS</div>
         <div class="matrix-services__cell-header">LAN<br> внутри ЦОД</div>
         <div class="matrix-services__cell-header">IP и<br> подсети</div>
         <div class="matrix-services__cell-header">облачный<br> бэкап</div>
         <div class="matrix-services__cell-header">хранение<br> обору&shy;дования</div>

         <div class="matrix-services__cell-header-left">IXcellerate North</div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>

         <div class="matrix-services__cell-header-left">IXcellerate South</div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>

         <div class="matrix-services__cell-header-left">Останкино</div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>

         <div class="matrix-services__cell-header-left">StoreData</div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>

         <div class="matrix-services__cell-header-left">DataLine Nord</div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>

         <div class="matrix-services__cell-header-left">DataPro</div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>

         <div class="matrix-services__cell-header-left">ММТС-9 (М9)</div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>
         <div class="matrix-services__cell-checked"></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>
         <div></div>
         <div class="matrix-services__cell-checked"></div>
         <div></div>

      </div>
   </div>
</section>