@use '../../../scss/utils' as *;

.info-block {
   padding: 0 !important;
   // overflow: hidden;

   &__container {}

   &__body {
      --gap: 10px;
      display: flex;
      flex-direction: column;
      gap: var(--gap, 10px);

      @media (min-width:1024px) {
         flex-direction: row;
      }
   }

   &__contant {
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      border-radius: 20px;
      background-color: #6E48F5;

      @media (max-width:1023.98px) {
         padding: 20px 10px;
      }

      @media (min-width:1024px) {
         --offset: calc((100vw - 100% - var(--padding-container) - var(--gap)) / 2);
         --padding: min(200px, var(--offset));
         margin-left: calc((var(--offset)) * -1);
         padding-right: max(var(--padding), var(--padding-container));
         padding-left: max(var(--offset), var(--padding-container));
         flex: 0 0 calc(60% - var(--gap) + var(--offset));
      }
   }

   &__title {
      margin-bottom: 50px;
      color: #ffffff;

      span {
         color: #B7FE56;
      }
   }

   &__text {
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 15px;
      line-height: 140%;
      color: #ffffff;
      @include size_adaptive (font-size, 15, 26, 1366, 2560);

      @media (min-width:1366px) {
         margin-bottom: 30px;
      }

      @media (min-width:2560px) {
         font-size: 26px;
      }
   }

   &__subtext {
      margin-bottom: 15px;
      font-size: var(--font-size-md);
      line-height: 140%;
      color: #ffffff;

      @media (min-width:1366px) {
         margin-bottom: 30px;
      }
   }

   &__button {
      max-width: 457px;
      margin-top: 30px;
      @include size_adaptive (margin-top, 30, 60, 1366, 2560);

      @media (min-width:2560px) {
         margin-top: 60px;
      }
   }

   &__image {
      padding-bottom: 80%;
      position: relative;
      border-radius: 20px;
      overflow: hidden;

      @media (min-width:1024px) {
         padding-bottom: 0;
         --offset: calc((100vw - 100% - var(--gap)) / 2);
         margin-right: calc(var(--offset) * -1);
         flex: 0 0 calc(40% + var(--offset) - var(--gap));
         min-height: 100%;


      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}