<section class="info-block padding-section">
   <div class="info-block__container">
      <div class="info-block__body">

         <div class="info-block__contant padding-section">
            <div class="info-block__title title-section">Опция <span>навынос</span></div>
            <div class="info-block__text">
               Сервер навынос позволяет использовать мощное корпоративное хранилище данных прямо на вашей площадке без крупных инвестиций.
            </div>
            <div class="info-block__subtext">
               Вы получаете современное оборудование, гибкое масштабирование и круглосуточную поддержку, экономя на капитальных расходах и сокращая время на внедрение. Полный контроль над данными — с минимальными затратами и максимумом удобства.
            </div>
            <div class="info-block__button">
               @@include('../../UI/Button/Button.html',{
               text: 'Заказать сервер навынос',
               link: '#0',
               class: 'button-arrow-purple'
               })
            </div>
         </div>

         <div class="info-block__image">
            <img src="@img/webp/image-2.webp" alt="элементы оборудования">
         </div>

      </div>
   </div>
</section>