.info-block {
   padding: 0 !important;
   // overflow: hidden;

   &__container {}

   &__body {
      --gap: 10px;
      display: flex;
      gap: var(--gap, 10px);
   }

   &__contant {
      margin-top: 0;
      margin-bottom: 0;
      --offset: calc((100vw - 100% - var(--padding-container) - var(--gap)) / 2);
      --padding: min(200px, var(--offset));
      margin-left: calc((var(--offset)) * -1);
      padding-right: max(var(--padding), var(--padding-container));
      padding-left: max(var(--offset), var(--padding-container));
      flex: 0 0 calc(60% - var(--gap) + var(--offset));
      position: relative;
      border-radius: 20px;
      background-color: #6E48F5;
      // &::before {
      //    content: '';
      //    position: absolute;
      //    top: 0;
      //    left: 0;
      //    z-index: -1;
      //    width: 100%;
      //    height: 100%;
      //    background-color: #6E48F5;
      // }
   }

   &__title {
      margin-bottom: 50px;
      color: #ffffff;

      span {
         color: #B7FE56;
      }
   }

   &__text {
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 26px;
      line-height: 140%;
      color: #ffffff;
   }

   &__subtext {
      margin-bottom: 30px;
      font-size: 22px;
      line-height: 140%;
      color: #ffffff;
   }

   &__button {
      max-width: 457px;
      margin-top: 60px;
   }

   &__image {
      --offset: calc((100vw - 100% - var(--gap)) / 2);
      position: relative;
      flex: 0 0 calc(40% + var(--offset) - var(--gap));
      margin-right: calc(var(--offset) * -1);
      min-height: 100%;
      border-radius: 20px;
      overflow: hidden;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}