@use '../../../scss/utils' as *;

.button {
   padding: 7px 15px;
   display: inline-flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
   min-height: 35px;
   // width: 100%;
   font-family: var(--font-family-second);
   font-weight: 800;
   font-size: var(--font-size-md);
   line-height: 140%;
   letter-spacing: -0.02em;
   background-color: var(--background);
   border-radius: 100px;
   transition: background-color $tr-time, color $tr-time, border-color $tr-time;
   --background: #ffffff;

   @include size_adaptive (min-height, 35, 65, 1366, 2560);

   @media (min-width:1920px) {
      padding: 15px 20px;
   }

   @media (min-width:2560px) {
      padding: 16px 25px;
      min-height: 65px;
   }

   svg {
      --size: 18px;
      width: var(--size);
      height: var(--size);

      @include size_adaptive (--size, 18, 24, 1366, 2560);

      @media (min-width:2560px) {
         --size: 24px;
      }

      path {
         transition: fill $tr-time;
      }
   }

   &.disabled,
   &[disabled] {
      background-color: #F3F3F3 !important;
      color: #B5B5B5 !important;

      svg path {
         fill: #B5B5B5 !important;
      }
   }

   &.button-border {
      border: 1px solid #B5B5B5;
   }



   &.button-arrow-purple {
      svg path {
         fill: #6E48F5;
      }
   }

   &.button-arrow-green {
      svg path {
         fill: #7FC919;
      }
   }

   &.button-purple {
      --background: #6E48F5;
      color: #ffffff;

      svg path {
         fill: #B7FE56;
      }
   }

   &.button-green {
      --background: #B7FE56;

      svg path {
         fill: #6E48F5;
      }
   }

   ._pc button:hover &,
   ._pc a:hover &,
   ._pc &:hover {
      &.button-border {
         border-color: var(--background);
      }

      &.button-arrow-purple {
         --background: #6E48F5;
         color: #ffffff;

         svg path {
            fill: #ffffff;
         }
      }

      &.button-arrow-green {
         --background: #7FC919;

         svg path {
            fill: #191919;
         }
      }

      &.button-purple {
         --background: #242424;
         color: #B7FE56;

         svg path {
            fill: #ffffff;
         }
      }

      &.button-green {
         --background: #ffffff;
         color: #242424;

         svg path {
            fill: #6E48F5;
         }
      }

   }

}