<div class="configuration__section">
   <div class="configuration__section-title">Параметры</div>
   <div class="configuration__section-wrapper">

      <div class="configuration__parameter">
         <div class="configuration__parameter-name">
            <span>Корпус сервера</span>
            <button type="button" aria-label="описание">
               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20ZM9 13V15H11V13H9ZM11 11.3551C12.4457 10.9248 13.5 9.5855 13.5 8C13.5 6.067 11.933 4.5 10 4.5C8.302 4.5 6.88637 5.70919 6.56731 7.31346L8.5288 7.70577C8.6656 7.01823 9.2723 6.5 10 6.5C10.8284 6.5 11.5 7.17157 11.5 8C11.5 8.8284 10.8284 9.5 10 9.5C9.4477 9.5 9 9.9477 9 10.5V12H11V11.3551Z" fill="#B5B5B5"></path>
               </svg>
            </button>
         </div>
         <div class="configuration__case">
            <label>
               <input type="radio" name="cpu" value="intel-xeon-silver" hidden checked>
               <span class="configuration__case-item hover-button">
                  <span class="configuration__case-icon">
                     <img src="@img/svg/case.svg" alt="корпус сервера">
                  </span>
                  <span class="configuration__case-text">1U</span>
               </span>
            </label>
            <label>
               <input type="radio" name="cpu" value="intel-xeon-silver" hidden>
               <span class="configuration__case-item hover-button">
                  <span class="configuration__case-icon">
                     <img src="@img/svg/case.svg" alt="корпус сервера">
                     <img src="@img/svg/case.svg" alt="корпус сервера">
                  </span>
                  <span class="configuration__case-text">2U</span>
               </span>
            </label>
            <label>
               <input type="radio" name="cpu" value="intel-xeon-silver" hidden>
               <span class=" configuration__case-item hover-button">
                  <span class="configuration__case-icon">
                     <img src="@img/svg/case.svg" alt="корпус сервера">
                     <img src="@img/svg/case.svg" alt="корпус сервера">
                     <img src="@img/svg/case.svg" alt="корпус сервера">
                  </span>
                  <span class="configuration__case-text">3U</span>
               </span>
            </label>
            <label>
               <input type="radio" name="cpu" value="intel-xeon-silver" hidden>
               <span class="configuration__case-item hover-button">
                  <span class="configuration__case-icon">
                     <img src="@img/svg/case.svg" alt="корпус сервера">
                     <img src="@img/svg/case.svg" alt="корпус сервера">
                     <img src="@img/svg/case.svg" alt="корпус сервера">
                     <img src="@img/svg/case.svg" alt="корпус сервера">
                  </span>
                  <span class="configuration__case-text">4U</span>
               </span>
            </label>

         </div>


      </div>

      <div class="configuration__section-grid">

         <div class="configuration__parameter">
            <div class="configuration__parameter-name">
               <span>Номинальная мощность блоков питания</span>
               <button type="button" aria-label="описание">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20ZM9 13V15H11V13H9ZM11 11.3551C12.4457 10.9248 13.5 9.5855 13.5 8C13.5 6.067 11.933 4.5 10 4.5C8.302 4.5 6.88637 5.70919 6.56731 7.31346L8.5288 7.70577C8.6656 7.01823 9.2723 6.5 10 6.5C10.8284 6.5 11.5 7.17157 11.5 8C11.5 8.8284 10.8284 9.5 10 9.5C9.4477 9.5 9 9.9477 9 10.5V12H11V11.3551Z" fill="#B5B5B5"></path>
                  </svg>
               </button>
            </div>

            <div class="configuration__stepper js-stepper">
               <button class="configuration__stepper-button js-stepper-decrement" type="button">-</button>
               <div class="configuration__stepper-body">
                  <div class="configuration__stepper-value">
                     <label>
                        <input type="radio" name="watt" value="300" hidden checked>
                        <span class="configuration__stepper-value-item">300</span>
                     </label>
                     <label>
                        <input type="radio" name="watt" value="400" hidden>
                        <span class="configuration__stepper-value-item">400</span>
                     </label>
                     <label>
                        <input type="radio" name="watt" value="600" hidden>
                        <span class="configuration__stepper-value-item">600</span>
                     </label>
                  </div>
                  <div class="configuration__stepper-text">Вт</div>
               </div>
               <button class="configuration__stepper-button js-stepper-increment" type="button">+</button>
            </div>

         </div>

         @@include('../../Components/Server-Configuration/UI/parameter-wrapper.html',{
         name:'Дата-центр',
         path:'../Components/Selection-Port.html'
         })

         <div class="configuration__parameter">
            <div class="configuration__parameter-name">
               <span>Количество блоков питания</span>
               <button type="button" aria-label="описание">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20ZM9 13V15H11V13H9ZM11 11.3551C12.4457 10.9248 13.5 9.5855 13.5 8C13.5 6.067 11.933 4.5 10 4.5C8.302 4.5 6.88637 5.70919 6.56731 7.31346L8.5288 7.70577C8.6656 7.01823 9.2723 6.5 10 6.5C10.8284 6.5 11.5 7.17157 11.5 8C11.5 8.8284 10.8284 9.5 10 9.5C9.4477 9.5 9 9.9477 9 10.5V12H11V11.3551Z" fill="#B5B5B5"></path>
                  </svg>
               </button>
            </div>
            <div class="configuration__selection-group">
               <label>
                  <input type="radio" name="quantity-case" hidden checked="true">
                  <span class="configuration__button-text hover-button">
                     <span>один</span>
                  </span>
               </label>
               <label>
                  <input type="radio" name="quantity-case" hidden>
                  <span class="configuration__button-text hover-button">
                     <span>два</span>
                  </span>
               </label>
            </div>
         </div>

         @@include('../../Components/Server-Configuration/UI/parameter-wrapper.html',{
         name:'Интернет с базовой защитой от DDoS',
         path:'../Components/Selection-Port.html'
         })
         @@include('../../Components/Server-Configuration/UI/parameter-wrapper.html',{
         name:'Публичный IP-адрес',
         path:'../Components/Selection-Port.html'
         })
         @@include('../../Components/Server-Configuration/UI/parameter-wrapper.html',{
         name:'Локальная сеть',
         path:'../Components/Selection-Port.html'
         })

      </div>


   </div>
</div>