<section class="margin-section">
   <div class="container">
      <div class="header-section">
         <div class="title-section">Как устроен ЦОД <br><span>IXcellerate North</span></div>
      </div>
      <div class="list-card__grid four--columns">
         @@include('../../UI/Cards/List-Card/List-Card.html', {
         title: 'Безопасность',
         bgimage: 'svg/list-card-icon-3.svg',
         list: [
         "6 уровней физической безопасности",
         "видеонаблюдение и детекторы движения",
         "биометрический контроль доступа и тамбур-шлюзы",
         "круглосуточная охрана"
         ] })
         @@include('../../UI/Cards/List-Card/List-Card.html', {
         title: 'Электричество',
         bgimage: 'svg/list-card-icon-4.svg',
         list: [
         "Уровень доступности: 99.999%",
         "Проектный PUE: &lt;1.6",
         "Резервирование по централизованным дизель-генераторам: N+1",
         "Литий-ионные батареи, обеспечивающие работу залов до 10 минут"
         ] })
         @@include('../../UI/Cards/List-Card/List-Card.html', {
         title: 'Охлаждение',
         bgimage: 'svg/list-card-icon-5.svg',
         list: [
         "Резервирование: N+1",
         "Чиллеры с адиабатическим охлаждением",
         "Горячие и холодные коридоры",
         "Гарантированный климат в соответствии с ASHRAE"
         ] })
         @@include('../../UI/Cards/List-Card/List-Card.html', {
         title: 'Пожаротушение',
         bgimage: 'svg/list-card-icon-6.svg',
         list: [
         "Система сверхраннего обнаружения дыма (спектральный анализ воздуха)",
         "Интегрированная система оповещения и сигнализации",
         "Локальное пожаротушение с помощью автоматической системы HI-FOG (TPB)",
         "Мобильные установки точечного пожаротушения"
         ] })
      </div>
   </div>
</section>