.trust {
   position: relative;
   border-radius: 20px;
   overflow: hidden;

   &__container {}

   &__title {
      color: #ffffff;
   }

   &__grid {
      display: flex;
      gap: 88px;
   }

   &__cell {
      position: relative;
      padding-top: 47px;
      flex: 1 1 auto;
      display: flex;
      gap: 25px;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: min(190px, 50%);
         height: 7px;
         background-color: #6E48F5;
         border-radius: 10px;
      }
   }

   &__number {
      font-family: var(--font-family-second);
      font-weight: 900;
      font-size: 80px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #B7FE56;
   }

   &__text {
      font-size: 24px;
      line-height: 140%;
      color: #ffffff;
   }

   &__background {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}