<section class="trust padding-section">
   <div class="trust__container">
      <div class="header-section">
         <h2 class="trust__title title-section">Почему нам доверяют</h2>
      </div>
      <div class="trust__grid">
         <div class="trust__cell">
            <div class="trust__number">14</div>
            <div class="trust__text">лет экспертизы на рынке HaaS</div>
         </div>
         <div class="trust__cell">
            <div class="trust__number">1000</div>
            <div class="trust__text">клиентов доверяют нам свою ИТ-инфраструктуру</div>
         </div>
         <div class="trust__cell">
            <div class="trust__number">8000</div>
            <div class="trust__text">серверов размещаются в наших стойках</div>
         </div>
         <div class="trust__cell">
            <div class="trust__number">600</div>
            <div class="trust__text">Гбит/с - пропускная способность наших каналов</div>
         </div>
      </div>
   </div>
   <img class="trust__background" src="@img/webp/bg-2.webp" alt="фон" aria-hidden="true">
</section>