@use "fonts";
@use "root_var";
@use "normalize";
@use "pattern";
@use "configuration";

// UI
@use "../../html/UI/Tabs-Switching-Buttons/tabs-switching-buttons";
@use "../../html/UI/Button/button";
@use "../../html/UI/Cards/Device-Card/device-card";

// components
@use '../../html/Components/Included/included';
@use '../../html/Components/Server-Configuration/server-configuration';