@use "fonts";
@use "root_var";
@use "normalize";

@use "legacy";

@use "pattern";
@use "configuration";

// UI
@use "../../html/UI/Tabs-Switching-Buttons/tabs-switching-buttons";
@use "../../html/UI/Button/button";
@use "../../html/UI/Cards/Device-Card/device-card";
@use "../../html/UI/Selection/selection";
@use "../../html/UI/Tab-Dropdowm/tab";
@use "../../html/UI/Cards/List-Card/list-card";
@use "../../html/UI/Cards/Feature-Card/feature-card";

// components
@use '../../html/Components/Included/included';
@use '../../html/Components/Server-Configuration/server-configuration';
@use '../../html/Components/Contact-Form/contact-form';
@use '../../html/Components/Ideal-Infrastructur/ideal-infrastructur';
@use '../../html/Components/Gallery-Accordion/gallery-accordion';
@use '../../html/Components/Info-Block/info-block';
@use '../../html/Components/Trust/trust';
@use '../../html/Components/Models/models';
@use '../../html/Components/Questions/questions';
@use '../../html/Components/Server-Placement/server-placement';
@use '../../html/Components/Wide-Slider/wide-slider';
@use '../../html/Components/Intro/intro';
@use '../../html/Components/Primary/primary';
@use '../../html/Components/Initial/initial';
@use '../../html/Components/Table/table';
@use '../../html/Components/Connection-Scheme/connection-scheme';
@use '../../html/Components/DDoS/ddos';
@use '../../html/Components/Contacts/contacts';
@use '../../html/Components/Services-Swiper/services-swiper';
@use '../../html/Components/Ordering/ordering';


@use '../../html/Components/Modals/modal';