@use '../utils/index' as *;

.configuration {
   margin-left: -10px;
   padding: 10px;
   width: 100vw;
   border-radius: 0;

   @media (min-width:1024px) {
      width: auto;
      margin-left: 0;
      border-radius: 10px;
      padding: 25px;
   }

   &__body {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (min-width:1366px) {
         flex-direction: row;
      }
   }

   &__side-main {
      flex: 1 1 auto;
   }

   &__side-result {
      @include size_adaptive_flex (0, 0, 368, 696, 1366, 2560);

      @media (min-width:2560px) {
         flex: 0 0 696px;
      }
   }

   &__section {

      @media (min-width:1366px) {
         padding: 10px;
         background-color: #ffffff;
         border: 1px solid #B5B5B5;
         border-radius: 4px;
      }

      @media (min-width:1920px) {
         border-radius: 6px;
      }

      @media (min-width:2560px) {
         border-radius: 8px;
      }

      .button {
         width: 100%;
      }

      &:not(:last-child) {
         margin-bottom: 10px;
      }

   }

   &__section-title {
      padding: 10px 15px;
      font-weight: 600;
      font-size: var(--font-size-ml);
      color: #575757;
      line-height: 140%;
      border-radius: 3px;
      background-color: #ffffff;

      @media (min-width:1366px) {
         padding: 10px 15px;
         background-color: #F3F3F3;
      }

      @media (min-width:1920px) {
         padding: 15px 20px;
      }

      @media (min-width:2560px) {
         padding: 20px 30px;
      }
   }

   &__section-wrapper {
      padding: 15px 0;

      @media (min-width:1366px) {
         padding: 10px;
         padding: 15px;
      }

      @media (min-width:1920px) {
         padding: 20px;
      }

      @media (min-width:2560px) {
         padding: 30px;
      }
   }

   &__parameter {
      &:not(:last-child) {
         margin-bottom: 15px;

         @media (min-width:1920px) {
            margin-bottom: 20px;
         }

         @media (min-width:2560px) {
            margin-bottom: 30px;
         }
      }
   }

   &__parameter-name {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 600;
      font-size: var(--font-size-ml);
      line-height: 140%;

      @media (min-width:1920px) {
         margin-bottom: 15px;
      }

      @media (min-width:2560px) {
         margin-bottom: 20px;
      }

      a,
      button {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 0.16em;
      }

      svg {
         width: 10px;
         height: auto;
         @include size_adaptive (width, 10, 20, 1366, 2560);

         @media (min-width:2560px) {
            width: 20px;
         }
      }
   }

   &__group-buttons {
      display: flex;
      gap: 5px;

      &>* {
         flex: 1 1 1%;
      }
   }

   &__cpu {
      display: flex;
      gap: 10px;
      overflow-x: auto;

      &::-webkit-scrollbar {
         display: none;
      }

      @media (min-width:1366px) {
         overflow-x: visible;
         flex-wrap: wrap;
      }

      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }

   &__cpu-icon {
      padding: 12px;
      display: block;
      background-color: #F3F3F3;
      border: 1px solid #B5B5B5;
      border-radius: 5px;
      width: 105px;

      @include size_adaptive (width, 105, 200, 1366, 2560);
      @include size_adaptive (padding, 12, 24, 1366, 2560);

      @media (min-width:2560px) {
         padding: 24px;
         width: 200px;
      }

      img {
         width: 100%;
         box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
      }
   }

   &__with-logo {
      padding: 10px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      width: 100%;
      min-height: 60px;
      border-radius: 5px;
      background-color: #F3F3F3;
      text-align: center;
      font-weight: 600;
      font-size: var(--font-size-md);
      line-height: 140%;
      letter-spacing: -0.02em;
      border: 1px solid #B5B5B5;

      @media (min-width:1024px) {
         padding: 10px;
         flex-direction: row;
         text-align: left;
      }

      @media (min-width:1366px) {
         border: none;
      }

      @include size_adaptive (min-height, 60, 115, 1366, 2560);

      @media (min-width:2560px) {
         padding: 30px;
         min-height: 115px;
      }
   }

   &__with-logo-image {
      position: relative;

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 50%;
         background-color: #B7FE56;
         filter: blur(10px);
         opacity: 0;
         transition: opacity 0.3s;
      }

      img {
         width: 38px;
         position: relative;
         z-index: 1;
         @include size_adaptive (width, 38, 70, 1366, 2560);

         @media (min-width:2560px) {
            width: 70px;
         }
      }
   }

   &__section-grid {
      display: grid;
      grid-template-columns: 1fr;
      @include size_adaptive (column-gap, 32, 62, 1366, 2560);

      @media (min-width:1366px) {
         grid-template-columns: 1fr 1fr;
         column-gap: 32px;
         row-gap: 0;
      }

      @media (min-width:2560px) {
         column-gap: 62px;
      }
   }

   &__selection-group {
      display: flex;
      align-items: stretch;
      gap: 5px;
      width: 100%;

      @media (min-width:1366px) {
         gap: 10px;
      }

      &:not(:last-child) {
         padding-bottom: 10px;
      }
   }


   &__button-add {
      --width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--width);
      min-width: var(--width);
      min-height: 100%;
      border-radius: 5px;
      border: 1px solid #B5B5B5;
      overflow: hidden;
      background-color: #ffffff;

      @media (min-width:1366px) {
         background-color: transparent;
      }

      @include size_adaptive (--width, 36, 64, 1366, 2560);

      @media (min-width:2560px) {
         --width: 64px;
      }

      svg,
      img {
         width: 37.5%;
      }

   }

   &__selection-message {
      padding: 2px 6px;
      display: inline-block;
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
      color: #ffffff;
      background-color: #FF383C;
      border-radius: 10px;
      @include size_adaptive (font-size, 12, 18, 1366, 2560);

      @media (min-width:1366px) {
         color: #FF383C;
         background-color: #F3F3F3;
         padding: 3px 12px;
      }

      @media (min-width:2560px) {
         font-size: 18px;
      }
   }

   &__filter-radio {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      @media (min-width:1366px) {
         flex-direction: row;
      }
   }

   &__filter-radio-list {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      &>* {
         @media (max-width:1365.98px) {
            flex: 1 1 auto;
         }
      }
   }

   &__filter-radio-item {
      display: block;
      padding: 0.5em 1em;
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
      text-align: center;
      border: 1px solid #B5B5B5;
      background-color: #ffffff;
      border-radius: 100px;
      @include size_adaptive (font-size, 13, 20, 1366, 2560);

      @media (min-width:2560px) {
         font-size: 20px;
      }
   }

   &__sort {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: var(--font-size-md);
      line-height: 140%;

   }

   &__sort-list {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      z-index: 10;
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.15);
      background-color: #ffffff;
      border-radius: 5px;
      font-size: var(--font-size-md);
      line-height: 140%;
      opacity: 0;
      pointer-events: none;
      overflow: hidden;

      .js-tabs-open & {
         opacity: 1;
         pointer-events: all;
      }

      li {
         list-style: none;
      }

      ._pc & button {
         transition: color $tr-time;

         &:hover {
            color: #6E48F5
         }
      }
   }

   &__filter-return {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      flex: 1 1 100px;
      background-color: #ffffff;
      border-radius: 3px;
      font-weight: 600;
      font-size: var(--font-size-md);
      line-height: 140%;

      @media (min-width:1366px) {
         flex: 0 1 100px;
      }
   }

   &__sort-value {
      display: flex;
      align-items: center;
      white-space: nowrap;
      color: #6E48F5;
      text-decoration: underline;
      text-decoration-style: dotted;
      transition: color $tr-time, text-decoration-color $tr-time;

      svg {
         width: 1em;
         height: auto;
         transition: transform $tr-time;

         path {
            transition: fill $tr-time;
         }
      }

      .js-tabs-open & {
         color: #575757;
         text-decoration-color: transparent;

         svg {
            transform: rotate3d(1, 0, 0, 180deg);

            path {
               fill: #575757;
            }
         }
      }

   }

   &__filter-range {
      margin-bottom: 30px;
      padding-top: 1em;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      gap: 20px;
      font-size: var(--font-size-md);

      @media (min-width:1366px) {
         gap: 10px;
      }

      @media (min-width:1920px) {
         flex-wrap: nowrap;
      }
   }

   &__range {
      flex: 1 1 auto;
      display: flex;
      align-items: stretch;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
   }

   &__range-border {
      --padding: 15px;
      padding-bottom: var(--padding);
      padding-left: var(--padding);
      padding-right: var(--padding);
      border: 1px solid #B5B5B5;
      border-radius: 3px;
      width: 100%;
      @include size_adaptive (--padding, 15, 30, 1366, 2560);

      @media (min-width:2560px) {
         --padding: 30px;
      }
   }

   &__range-title {
      padding-left: 10px;
      padding-right: 10px;
      display: inline-block;
      font-weight: 600;
      line-height: 140%;
      transform: translateY(-50%);
      background-color: #f3f3f3;
   }

   &__range-group {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (min-width:768px) {
         gap: 40px;
         flex-direction: row;
      }
   }

   &__range-block {
      flex: 1 1 auto;
      gap: 20px;

      @media (min-width:1366px) {
         display: flex;
         align-items: flex-end;
      }
   }

   &__range-name {
      font-size: 13px;
      line-height: 140%;
      @include size_adaptive (font-size, 13, 20, 1366, 2560);

      @media (min-width:2560px) {
         font-size: 20px;
      }
   }

   &__double-range {

      flex: 1 0 300px;
      --size-spin: 19px;
      font-size: 14px;
      padding-top: calc(var(--size-spin) + 0.6em);
      padding-bottom: calc(var(--size-spin) / 2);

      @media (min-width:1024px) {
         font-size: 18px;
         padding-top: calc(var(--size-spin) + 1em);
      }

      @include size_adaptive_flex (1, 0, 100, 300, 1366, 2560);

      @media (min-width:2560px) {
         flex: 1 0 300px;
      }
   }

   &__double-range-track {
      position: relative;
      height: 6px;
      border-radius: 100px;
      background: linear-gradient(90deg, #6E48F5 0% var(--minGradient),
            #ffffff var(--minGradient) var(--maxGradient),
            #6E48F5 var(--maxGradient) 100%);
   }

   &__double-range-spin {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: var(--size-spin);
      min-width: var(--size-spin);
      height: var(--size-spin);
      background-color: #191919;
      border: 3px solid #191919;
      border-radius: 50%;
      transition: background-color $tr-time, border-color $tr-time;

      &.hover,
      &:hover {
         background-color: #ffffff;
         border: 3px solid #575757;
      }
   }

   &__double-range-input {
      padding-bottom: 0.2em;
      position: absolute;
      display: block;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      font-size: inherit;
      width: 5em;
      line-height: 140%;
      color: #575757;
   }

   &__filter-checkboxes {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      @media (min-width:1024px) {
         margin-top: 18px;
      }
   }

   &__filter-checkbox {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 13px;
      line-height: 140%;
      @include size_adaptive (font-size, 13, 20, 1366, 2560);

      @media (min-width:2560px) {
         font-size: 20px;
      }
   }

   &__filter-checkbox-icon {
      --size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--size);
      min-width: var(--size);
      height: var(--size);
      border: 1px solid #B5B5B5;
      border-radius: 3px;
      background-color: #ffffff;
      transition: background-color $tr-time;
      @include size_adaptive (--size, 16, 20, 1366, 2560);

      @media (min-width:2560px) {
         --size: 20px;
      }

      svg,
      img {
         display: none;
         width: 55%;
         height: auto;
      }

      input:checked+& {
         background-color: #6E48F5;

         svg,
         img {
            display: block;
         }
      }
   }

   &__parameter-list {
      --padding-parameter: 5px;
      display: grid;
      grid-template-columns: 1fr 1.35fr;
      font-size: 12px;
      @include size_adaptive (font-size, 12, 20, 1366, 2560);

      @media (min-width:1920px) {
         grid-template-columns: 1fr 1.2fr;
         ----padding-parameter: 10px;
      }

      @media (min-width:2560px) {
         font-size: 20px;
         ----padding-parameter: 15px;
      }

      &._center {
         align-items: center;
      }

      .configuration__parameter-list-result-number {
         text-align: right;
      }
   }

   &__parameter-list-name {
      padding-top: var(--padding-parameter);
      padding-bottom: var(--padding-parameter);
      padding-right: 20px;
      line-height: 140%;
      color: #B5B5B5;
      border-bottom: 1px solid #F3F3F3;
   }

   &__parameter-list-value {
      padding-top: var(--padding-parameter);
      padding-bottom: var(--padding-parameter);
      font-weight: 500;
      line-height: 140%;
      border-bottom: 1px solid #F3F3F3;
   }

   &__parameter-list-name-strong {
      padding-top: var(--padding-parameter);
      padding-bottom: var(--padding-parameter);
      font-weight: 600;
      font-size: var(--font-size-md);
      line-height: 140%;
      border-bottom: 1px solid #F3F3F3;


      &:nth-last-child(2) {
         border: none;

         &+.configuration__parameter-list-value {
            border: none;
         }
      }
   }

   &__parameter-list-result {
      display: flex;
      align-items: flex-end;
      font-weight: 600;
      font-size: 15px;
      line-height: 140%;
      @include size_adaptive (font-size, 15, 26, 1366, 2560);

      @media (min-width:2560px) {
         font-size: 26px;
      }
   }

   &__parameter-list-result-number {
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: 26px;
      line-height: 100%;
      letter-spacing: -0.02em;
      @include size_adaptive (font-size, 26, 50, 1366, 2560);

      @media (min-width:2560px) {
         font-size: 50px;
      }

      span {
         font-size: 0.6em;
      }
   }

   &__actions {
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;

      @media (min-width:1366px) {
         padding: 0;
      }

      a,
      button {
         padding: 10px;
         display: flex;
         align-items: center;
         justify-content: center;
         font-weight: 500;
         font-size: 13px;
         line-height: 140%;
         letter-spacing: -0.02em;
         background-color: #ffffff;
         border: 1px solid #B5B5B5;
         border-radius: 8px;

         @include size_adaptive (font-size, 13, 20, 1366, 2560);

         @media (min-width:1920px) {
            padding: 15px;
         }

         @media (min-width:2560px) {
            padding: 20px;
            font-size: 20px;
         }

      }
   }

   &__case {
      display: flex;
      gap: 10px;
      max-width: 100%;
      overflow-x: auto;

      @media (min-width:1366px) {
         // flex-wrap: wrap;
      }

      &::-webkit-scrollbar {
         display: none;
      }
   }

   &__case-item {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      width: 150px;
      border-radius: 5px;
      border: 1px solid #B5B5B5;
      background-color: #F3F3F3;
      @include size_adaptive (width, 150, 320, 1366, 2560);

      @media (min-width:2560px) {
         padding: 25px;
         width: 320px;
      }
   }

   &__case-icon {
      padding: 5px;
      display: flex;
      flex-direction: column;
      background: linear-gradient(180deg, #979797 0%, #363535 100%);
      border-radius: 7px;
   }

   &__case-text {
      padding-top: 13px;
      display: block;
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: var(--font-size-ml);
      line-height: 110%;
      letter-spacing: -0.01em;
      text-align: center;
   }

   &__button-text {
      display: block;
      padding: 0.8em 1em;
      border-radius: 5px;
      border: 1px solid #B5B5B5;
      background-color: #F3F3F3;
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
      letter-spacing: -0.02em;

      @include size_adaptive (font-size, 13, 20, 1366, 2560);

      @media (min-width:2560px) {
         font-size: 20px;
      }
   }

   &__asterisked {
      padding-top: 10px;
      padding-bottom: 45px;

      &::before {
         content: '*';
         color: #6E48F5;
      }
   }

   &__stepper {
      padding: 0.7em 0.9em;
      display: inline-flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      font-size: var(--font-size-md);
      line-height: 140%;
      letter-spacing: -0.02em;
      background-color: #F3F3F3;
      border: 1px solid #B5B5B5;
      border-radius: 5px;
   }

   &__stepper-body {
      display: flex;
      align-items: center;
      gap: 0.2em;
   }

   &__stepper-button {
      --size: 14px;
      flex: 0 0 var(--size);
      height: var(--size);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;

      @include size_adaptive (--size, 14, 24, 1366, 2560);

      @media (min-width:2560px) {
         --size: 24px;
      }
   }

   &__stepper-value {
      display: flex;
      flex-direction: column;
   }

   &__stepper-value-item {
      display: none;

      input:checked+& {
         display: block;
      }
   }

   &__stepper-text {}
}