@use '../utils' as *;

@include fonts-face('InterTight', 'InterTight/InterTight-Regular', 400);
@include fonts-face('InterTight', 'InterTight/InterTight-Medium', 500);
@include fonts-face('InterTight', 'InterTight/InterTight-Bold', 700);
@include fonts-face('InterTight', 'InterTight/InterTight-SemiBold', 600);
@include fonts-face('Jeko', 'Jeko/Jeko-Bold', 700);
@include fonts-face('Jeko', 'Jeko/Jeko-ExtraBold', 800);
@include fonts-face('Jeko', 'Jeko/Jeko-Black', 900);

// @font-face {
// 	font-family:
// 		fontsName;
// 	font-display: swap;
// 	src:
// 		url("../fonts/fontsName/fontsName-Regular.woff2") format("woff2"),
// 		url("../fonts/fontsName/fontsName-Regular.woff") format("woff");
// 	font-weight:
// 		400;
// 	font-style: normal;
// }

// 100: Thin;
// 200: Extra Light (Ultra Light);
// 300: Light;
// 400: Normal; Regular
// 500: Medium;
// 600: Semi Bold (Demi Bold);
// 700: Bold;
// 800: Extra Bold (Ultra Bold);
// 900: Black (Heavy).