@use '../utils' as *;

body {
   font-family: var(--font-family);
   font-weight: 400;
   color: var(--color-black);
   --padding-container: 10px;
   --container-width: 1120px;
   --max-width-container: calc(var(--container-width) + var(--padding-container) * 2);
   --indent-section: 40px;

   @include size_adaptive (--container-width, 1120, 2116, 1366, 2560);
   @include size_adaptive (--indent-section, 40, 70, 768, 1366);
   @include size_adaptive (--indent-section, 70, 120, 1366, 2560);

   @media (min-width:2560px) {
      --indent-section: 120px;
      --container-width: 2116px;
   }
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main {
   flex: 1 1 auto;
}

// .shadow {
//    box-shadow: -3px 0 16px 0 rgba(51, 51, 51, 0.3);
// }

[class*="container"] {
   padding-left: var(--padding-container);
   padding-right: var(--padding-container);
   margin: 0 auto;
   width: 100%;
   max-width: var(--max-width-container);
}

label {
   cursor: pointer;
}

.hover-button {
   transition: background-color $tr-time, border-color $tr-time, color $tr-time;

   input:checked+&,
   ._pc &:hover {
      background-color: #6E48F5;
      border-color: #6E48F5;
      color: #ffffff;

      .configuration__with-logo-image::after {
         opacity: 1;
      }
   }
}

.hover-button-icon {
   transition: background-color $tr-time, border-color $tr-time, color $tr-time;

   svg path {
      transition: fill $tr-time;
   }

   ._pc &:hover {
      background-color: #6E48F5;
      color: #ffffff;

      svg path {
         fill: #B7FE56;
      }
   }
}

.link {
   color: #B7FE56;
   text-decoration: underline;
   display: inline-flex;
   align-items: center;
   gap: 12px;

   &__icon {
      background-color: #B7FE56;
      border-radius: 3px;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

.textarea,
.input {
   padding: 16px 20px;
   min-height: 65px;
   height: 100%;
   width: 100%;
   font-weight: 500;
   font-size: 20px;
   line-height: 140%;
   letter-spacing: -0.02em;
   border: 1px solid #B5B5B5;
   border-radius: 5px;
   background-color: #ffffff;
}

.textarea {
   height: 205px;
}

.checkbox {
   display: flex;
   gap: 10px;

   &__icon {
      width: 20px;
      min-width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #B5B5B5;
      border-radius: 3px;
      background-color: #ffffff;

      svg {
         display: none;

         input:checked+& {
            display: block;
         }
      }
   }

   &__text {
      font-size: 18px;
      line-height: 140%;
      color: #ffffff;
   }
}

.header-section {
   margin-bottom: 20px;

   @include size_adaptive (font-size, 20, 40, 768, 1366);
   @include size_adaptive (font-size, 40, 70, 1366, 2560);

   @media (min-width:2560px) {
      margin-bottom: 70px;
   }
}

.header-with-button {
   display: flex;
   justify-content: space-between;
}

.title-section {
   font-family: var(--font-family-second);
   font-size: 30px;
   font-weight: 800;
   line-height: 100%;
   letter-spacing: -0.02em;

   @include size_adaptive (font-size, 30, 36, 768, 1366);
   @include size_adaptive (font-size, 36, 70, 1366, 2560);

   @media (min-width:2560px) {
      font-size: 70px;
   }
}

.text-section {
   margin-top: 20px;
   font-weight: 500;
   font-size: 20px;
   line-height: 140%;

   @media (min-width:1024px) {
      font-size: 30px;
   }

   span {
      color: #6E48F5;
   }
}

.padding-section {
   margin-top: 10px;
   margin-bottom: 10px;
   padding-top: var(--indent-section);
   padding-bottom: var(--indent-section);
}

.margin-section {
   margin-top: var(--indent-section);
   margin-bottom: var(--indent-section);
}

.margin-bottom-section {
   margin-bottom: var(--indent-section);
}

.scroll::-webkit-scrollbar {
   width: 3px;
   height: 3px;
   border-radius: 6px;
}

.scroll::-webkit-scrollbar-track {
   border-radius: 6px;
   background-color: #F3F3F3;
}

.scroll::-webkit-scrollbar-thumb {
   padding: 2px;
   background-color: #575757;
   background-clip: content-box;
   border-radius: 6px;
}

// .swiper-wrapper {
//    position: relative;
//    z-index: 1;
//    display: flex;
//    transition-property: transform;
// }

// .swiper-slide {
//    flex-shrink: 0;
//    width: 100%;
//    position: relative;
//    transition-property: transform;
//    touch-action: pan-y;
// }

.js-tabs-shell {
   will-change: height;
   transform: translateZ(0);
   height: 0;
   overflow: hidden;
   // transition: height $tr-time-l $bezier;
}

// .js-tabs-toggle {
//    cursor: pointer;
// }

// /* указатель количества, абсолютное позиционирование */
// [data-icon-quantity] {
//    position: relative;
//    display: block;

//    &::after {
//       content: attr(data-icon-quantity);
//       padding: 5px;
//       position: absolute;
//       top: 0;
//       right: 0;
//       transform: translate(25%, -25%);

//       min-width: 24px;
//       height: 24px;

//       display: flex;
//       align-items: center;
//       justify-content: center;

//       border-radius: 12px;
//       font-size: 12px;
//       color: var(--color-white, #ffffff);
//       background-color: var(--color-black, #000000);
//    }
// }

// /* указатель количества, в строку */
// [data-string-quantity] {
//    &::after {
//       content: " (" attr(data-string-quantity) ")";
//       color:var(--color-black, #000000);
//    }
// }