:root {
   --font-family: "InterTight", sans-serif;
   --font-family-second: "Jeko", sans-serif;

   --color-white: #ffffff;
   --color-black: #191919;
   --color-modal-bg: rgba(0, 0, 0, 0.6);
   --vh: 100vh;

   // @supports (height: 100dvh) {
   //    --vh: 100dvh;
   // }
}