<section class="margin-section">
   <div class="container">
      <div class="header-section">
         <div class="title-section">Для кого наши решения</div>
         <div class="text-section">Наша экспертиза — <span>высоконагруженные проекты,</span> где каждая секунда простоя стоит миллионы</div>
      </div>
      <div class="list-card__grid three--columns">
         @@include('../../UI/Cards/List-Card/List-Card.html',{
         title:'E-commerce',
         bgimage: 'svg/list-card-icon-7.svg',
         text:'Для интернет-магазинов важна каждая секунда: скорость загрузки, надёжность платежей, отказоустойчивость. Наши серверы гарантируют бесперебойную работу в пиковые периоды и максимальную доступность каталога.'
         })
         @@include('../../UI/Cards/List-Card/List-Card.html',{
         title:'Финтех',
         bgimage: 'svg/list-card-icon-8.svg',
         text:'Транзакции, онлайн-банкинг, криптоплатформы — здесь нет права на ошибку. NETRACK обеспечивает безопасность данных, устойчивость и SLA-уровень, подходящий для финансовых сервисов.'
         })
         @@include('../../UI/Cards/List-Card/List-Card.html',{
         title:'Медиа и стриминг',
         bgimage: 'svg/list-card-icon-9.svg',
         text:'Онлайн-игры, стриминг и медиа-платформы нуждаются в высокой скорости и непрерывной доступности. Мы предлагаем инфраструктуру, готовую к миллионам одновременных подключений и пиковым нагрузкам.'
         })
         @@include('../../UI/Cards/List-Card/List-Card.html',{
         title:'Логистика',
         bgimage: 'svg/list-card-icon-10.svg',
         text:'Сервисы такси, доставки, картографии или бронирования работают в реальном времени.Наши решения поддерживают непрерывную геоаналитику и быструю маршрутизацию данных без простоев.'
         })
         @@include('../../UI/Cards/List-Card/List-Card.html',{
         title:'Корпоративные порталы',
         bgimage: 'svg/list-card-icon-11.svg',
         text:'Крупные организации и госструктуры нуждаются в гарантированной доступности и защите информации. NETRACK обеспечивает инфраструктуру, соответствующую высоким требованиям к надёжности и безопасности.'
         })
         @@include('../../UI/Cards/List-Card/List-Card.html',{
         title:'Облачные платформы',
         bgimage: 'svg/list-card-icon-12.svg',
         text:'Для онлайн-сервисов важна гибкость и масштабирование. Наши выделенные серверы и colocation-решения позволяют строить частные и гибридные облака с максимальной производительностью.'
         })
      </div>
   </div>
</section>