@use '../../../../scss/utils/index' as *;

.device-card {
   position: relative;
   padding: 10px;
   display: flex;
   flex-direction: column;
   border: 1px solid #B5B5B5;
   border-radius: 8px;
   background-color: #ffffff;
   // overflow: hidden;
   transition: box-shadow $tr-time;

   &.disabled {
      pointer-events: none;
   }

   ._pc &:hover {
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
   }

   &>* {
      position: relative;
      z-index: 2;
   }

   &__banner {
      border: none;
      grid-row: 1/2;
      grid-column: 4/5;
   }

   &__header {
      display: flex;
      align-items: stretch;
      gap: 10px;
   }

   &__icon {
      width: 97px;
      flex: 0 0 97px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      background-color: #242424;

      svg,
      img {
         max-width: 60%;
         height: auto;
      }
   }

   &__title {
      padding: 10px 20px;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 24px;
      line-height: 140%;
      border-radius: 3px;
      background-color: #F3F3F3;
   }

   &__wrapper {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding: 30px;
   }

   &__image {
      margin-bottom: 20px;

      img {
         width: 100%;
      }
   }

   &__shell {
      flex: 1 1 auto;
   }

   &__grid {
      display: grid;
      grid-template-columns: auto 1fr;
   }

   &__comps {
      padding-top: 7px;
      padding-bottom: 7px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid #F3F3F3;
   }

   &__comps-item {
      font-size: 22px;
      line-height: 140%;
      color: #B5B5B5;
   }

   &__comps-type {
      padding: 4px 8px;
      font-size: 20px;
      line-height: 140%;
      text-align: center;
      color: #6E48F5;
      background-color: #F3F3F3;
      border-radius: 3px;
   }

   &__data {
      padding-left: 25px;
      padding-top: 7px;
      padding-bottom: 7px;
      display: flex;
      align-items: center;
      font-size: 22px;
      line-height: 140%;
      border-bottom: 1px solid #F3F3F3;
   }

   &__price {
      margin-top: 30px;
      margin-bottom: 20px;
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.02em;
      text-align: center;

   }

   &__price-value {
      font-size: 2em;
   }

   &__availability {
      position: relative;
      padding-left: 22px;
      margin: 10px auto 0;
      display: inline-block;
      font-size: 18px;
      line-height: 140%;

      &.hidden {
         opacity: 0;
      }

      &.have {
         --circle-color: #9BD945;
      }

      &.few {
         --circle-color: #FF0D0D;
      }

      &.not-have {
         --circle-color: #B5B5B5;
      }

      &::before {
         content: '';
         position: absolute;
         top: 50%;
         left: 0;
         width: 12px;
         height: 12px;
         border-radius: 50%;
         transform: translateY(-50%);
         background-color: var(--circle-color);
      }
   }

   &__banner-title {
      flex: 1 1 auto;
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #ffffff;

      span {
         color: #B7FE56;
      }
   }

   &__banner-background {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}