.included {
   margin-top: 50px;

   &__container {}

   &__body {
      display: flex;
      gap: 40px;
   }

   &__title {
      flex: 1 1 auto;
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: 60px;
      line-height: 100%;
      letter-spacing: -0.02em;

      span {
         color: #6E48F5;
      }
   }

   &__list {
      flex: 0 0 60%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
   }

   &__item {
      display: flex;
      gap: 10px;
      font-size: 22px;
      line-height: 140%;
      list-style: none;
      color: #242424;
   }
}