@use '../../../scss/utils' as *;

.included {
   margin-top: 50px;

   &__container {}

   &__body {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @media (min-width:1366px) {
         gap: 40px;
         flex-direction: row;
      }
   }

   &__title {
      flex: 1 1 auto;
      font-family: var(--font-family-second);
      font-weight: 800;
      font-size: var(--font-size-subtitle);
      line-height: 100%;
      letter-spacing: -0.02em;

      span {
         color: #6E48F5;
      }
   }

   &__list {
      flex: 0 0 60%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.72em;
      font-size: var(--font-size-md);

      @media (min-width:1024px) {
         grid-template-columns: 1fr 1fr;
      }
   }

   &__item {
      display: flex;
      gap: 0.5em;
      line-height: 140%;
      list-style: none;
      color: #242424;

      svg,
      img {
         width: 12px;
         height: auto;
         @include size_adaptive (width, 12, 24, 1366, 2560);

         @media (min-width:2560px) {
            width: 24px;
         }
      }
   }
}