<table class="table table__comparison">
   <thead>
      <tr>
         <th></th>
         <th scope="col">Базовый L3-L4</th>
         <th scope="col">Продвинутый L7</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <th scope="row">Цель атаки</th>
         <td>
            Исчерпать пропускную способность канала или ресурсы сетевого оборудования
         </td>
         <td>
            Исчерпать ресурсы самого приложения (процессорное время, память, соединения с базой данных, логику обработки).
         </td>
      </tr>
      <tr>
         <th scope="row">Тип атак</th>
         <td>
            Объемные атаки (отправка огромного количества бессмысленных пакетов):
            <ul>
               <li>UDP Flood</li>
               <li> ICMP Flood</li>
               <li>DNS/NTP/Memcached Amplification</li>
            </ul>
            Протокольные атаки (эксплуатация слабостей сетевых протоколов):
            <ul>
               <li>TCP SYN Flood</li>
               <li>ACK/PUSH ACK Flood</li>
               <li>Fragmented Packet Attacks</li>
            </ul>
         </td>
         <td>
            <ul>
               <li>HTTP/HTTPS Flood</li>
               <li>Slow-Rate Attacks</li>
               <li>DNS Query Flood</li>
               <li>Атаки на API</li>
               <li>Инъекции и эксплойты</li>
               <li>Directory Traversal / Path Manipulation</li>
               <li>Session Hijacking / Cookie Tampering</li>
            </ul>
         </td>
      </tr>
      <tr>
         <th scope="row">Пропускная способность атаки</th>
         <td>
            Мощность атаки ограничена скоростью 300 Гбит/с.
            При больших значениях трафик, превышающий 300 Гбит/с, отбрасывается до классификации на легитимный и паразитный.
         </td>
         <td>
            <ul>
               <li>
                  Амплифицирующие атаки с неизменными L4 параметрами: до 1.5 Тбит/с на территории РФ, до 8 Тбит/с суммарно.
               </li>
               <li>
                  Statefull атаки: без кратковременной деградации: 500 Гбит/с кратковременной деградацией (до 30 минут) до 800 Гбит/с на территории РФ, и до 3 Тбит/с суммарно.
               </li>
            </ul>
         </td>
      </tr>
      <tr>
         <th scope="row">Механизмы фильтрации</th>
         <td>
            ACL, BGP blackhole, фильтрация по IP/ASN, rate limiting, L4-фильтры
         </td>
         <td>
            WAF, антибот-защита, JS-челленджи, поведенческий анализ, CAPTCHA
         </td>
      </tr>
      <tr>
         <th scope="row">Время реакции</th>
         <td>
            Не более 100 мс
         </td>
         <td>
            Не более 30 мс.<br>
            Вносимая задержка системой фильтрации - не более 3 мс
         </td>
      </tr>
   </tbody>
</table>