<div class="table__shell">
   <table class="table">
      <thead>
         <tr>
            <th scope="col">Скорость порта</th>
            <th scope="col">Уровень</th>
            <th scope="col">Стоимость в месяц</th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td data-label="Скорость порта">0,1 - 10 Гбит/с</td>
            <td data-label="Уровень">базовый</td>
            <td data-label="Стоимость в месяц">0 руб.</td>
            <td>включено по-умолчанию</td>
         </tr>
         @@loop('./Rate-tr.html', 'json/lists/table-1.json')
      </tbody>
   </table>
</div>